/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  min-width: 200px;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 12.5px;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

span.index {
  display: inline-block;
  width: 170px;
  text-align: center;
}
@media screen and (max-width: 600px) {
  span.index {
    height: 125px;
    width: 170px;
  }
}
@media screen and (max-width: 480px) {
  span.index {
    height: 100px;
    width: 170px;
  }
}

img.index {
  height: 125px;
}
@media screen and (max-width: 600px) {
  img.index {
    height: 125px;
  }
}
@media screen and (max-width: 480px) {
  img.index {
    height: 100px;
  }
}

br.hide_large {
  display: none;
}
@media screen and (max-width: 480px) {
  br.hide_large {
    display: block;
  }
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: 14px;
}

/**
 * Lists
 */
ul, ol {
  margin-left: 25px;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none;
}
a:visited {
  color: #1756a9;
}
a:hover {
  color: #111;
  text-decoration: underline;
}

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 12.5px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}
blockquote > :last-child {
  margin-bottom: 0;
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (25px * 2));
  max-width: calc(800px - (25px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px;
}
@media screen and (max-width: 800px) {
  .wrapper {
    max-width: -webkit-calc(800px - (25px));
    max-width: calc(800px - (25px));
    padding-right: 12.5px;
    padding-left: 12.5px;
  }
}
@media screen and (max-width: 480px) {
  .wrapper {
    padding-right: 6.25px;
    padding-left: 6.25px;
  }
}

.sidebar {
  min-width: 250px;
}
.sidebar li {
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sidebar summary {
  cursor: pointer;
}

summary.guide {
  cursor: pointer;
}

.guide summary {
  cursor: pointer;
  font-style: italic;
}
.guide span {
  display: list-item;
  margin-bottom: 10px;
  font-weight: bold;
}
.guide details {
  margin-bottom: 10px;
}

/**
 * Clearfix
 */
.footer-col-wrapper:after, .wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.icon > svg path {
  fill: #828282;
}

.pagination {
  text-align: center;
}
.pagination a:hover {
  background-color: #f1f1f1;
  color: #333;
}
.pagination a, .pagination span, .pagination a.disabled {
  padding: 12px 20px;
  border: 1px solid #eee;
  margin-left: -2px;
  margin-right: -2px;
  background-color: #ffffff;
  display: inline-block;
  font-size: 20px;
}
@media screen and (max-width: 1024px) {
  .pagination a, .pagination span, .pagination a.disabled {    
    padding: 10px 15px;
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .pagination a, .pagination span, .pagination a.disabled {
    padding: 9px 12px;
    font-size: 16px;
  }
}
@media screen and (max-width: 580px) {
  .pagination a, .pagination span, .pagination a.disabled {
    padding: 8px 10px;
    font-size: 15px;
  }
}
@media screen and (max-width: 400px) {
  .pagination a, .pagination span, .pagination a.disabled {
    padding: 8px 6px;
    font-size: 12px;
  }
}
@media screen and (max-width: 380px) {
  .pagination a, .pagination span, .pagination a.disabled {
    font-size: 10px;
  }
}
@media screen and (max-width: 300px) {
  .pagination a, .pagination span, .pagination a.disabled {
    padding: 6px 5px;
    font-size: 10px;
  }
}

.post-list.post-list-sidebar > li {
  margin-bottom: 5px;
}

.page-content {
  min-width: 240px;
}

.emptyList {
  list-style-type: none;
}

.hide {
  display: none !important;
}

.month-sidebar {
  margin-left: 10px;
}

.name-sidebar {
  margin-left: 20px;
}
.name-sidebar.mark {
  font-style: italic;
  font-weight: bolder;
  text-decoration: underline;
}
.name-sidebar.mark a {
  color: #3776a9;
}

a.video {
  min-width: 480px;
  min-height: 360px;
  display: block;
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  background-size: auto, contain;
}
@media screen and (max-width: 600px) {
  a.video {
    min-width: 360px;
    min-height: 270px;
  }
}
@media screen and (max-width: 520px) {
  a.video {
    min-width: 240px;
    min-height: 180px;
  }
}

/**
 * Site header
 */
.site-header {
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  min-width: 240px;
  position: relative;
}

.site-title {
  font-size: 45px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  text-decoration: none;
}
.site-title, .site-title:visited {
  color: red;
}
.site-title:hover {
  text-decoration: none;
}
.site-title img {
  max-height: 100px;
}

.subtitle {
  color: black;
}

.site-nav {
  float: right;
  line-height: 56px;
}
.site-nav .menu-icon {
  display: none;
}
.site-nav .page-link {
  color: #111;
  line-height: 1.5;
}
.site-nav .page-link:not(:last-child) {
  margin-right: 20px;
}
@media screen and (max-width: 600px) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: 12.5px;
    background-color: #fdfdfd;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    text-align: right;
  }
  .site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }
  .site-nav .menu-icon > svg {
    width: 18px;
    height: 15px;
  }
  .site-nav .menu-icon > svg path {
    fill: #424242;
  }
  .site-nav .trigger {
    clear: both;
    display: none;
  }
  .site-nav:hover .trigger {
    display: block;
    padding-bottom: 5px;
  }
  .site-nav .page-link {
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
  }
  .site-nav .page-link:not(:last-child) {
    margin-right: 0;
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 0;
  padding-top: 10px;
  min-width: 240px;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 12.5px;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -12.5px;
}

.footer-col {
  float: left;
  margin-bottom: 12.5px;
  padding-left: 12.5px;
}
.footer-col .rss-subscribe {
  text-align: right;
}

.footer-col-1 {
  width: -webkit-calc(35% - (25px / 2));
  width: calc(35% - (25px / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (25px / 2));
  width: calc(20% - (25px / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (25px / 2));
  width: calc(45% - (25px / 2));
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (25px / 2));
    width: calc(50% - (25px / 2));
  }
  .footer-col-3 {
    width: -webkit-calc(100% - (25px / 2));
    width: calc(100% - (25px / 2));
  }
  .site-title {
    font-size: 40 px;
  }
  .site-title img {
    max-height: 100px;
  }
}
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (25px / 2));
    width: calc(100% - (25px / 2));
  }
  .site-title {
    font-size: 36px;
  }
  .site-title img {
    max-height: 80px;
  }
}
/**
 * Page content
 */
.page-content {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  padding: 10px 0;
}

@media screen and (max-width: 800px) {
  .sidebar {
    min-width: 150px;
  }
}
@media screen and (max-width: 660px) {
  .page-content {
    flex-direction: column;
  }
  .sidebar {
    padding-left: 15px;
    margin-bottom: 0px;
    order: 3;
    margin-top: 10px;
  }
}
.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;
}
.post-list > li {
  margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .post-list > li {
    padding-top: 25px;
  }
}

.post-list.index {
  margin-bottom: 0px;
}

.post-meta {
  font-size: 14px;
  color: #828282;
  margin-left: 10px;
}

.post-link {
  display: flex;
  font-size: 24px;
  align-items: center;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: 25px;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}
@media screen and (max-width: 800px) {
  .post-title {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: 25px;
}
.post-content h2 {
  font-size: 32px;
}
@media screen and (max-width: 800px) {
  .post-content h2 {
    font-size: 28px;
  }
}
.post-content h3 {
  font-size: 26px;
}
@media screen and (max-width: 800px) {
  .post-content h3 {
    font-size: 22px;
  }
}
.post-content h4 {
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  .post-content h4 {
    font-size: 18px;
  }
}

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff;
}
.highlighter-rouge .highlight {
  background: #eef;
}
.highlight .c {
  color: #998;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .k {
  font-weight: bold;
}
.highlight .o {
  font-weight: bold;
}
.highlight .cm {
  color: #998;
  font-style: italic;
}
.highlight .cp {
  color: #999;
  font-weight: bold;
}
.highlight .c1 {
  color: #998;
  font-style: italic;
}
.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #000;
  background-color: #fdd;
}
.highlight .gd .x {
  color: #000;
  background-color: #faa;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #a00;
}
.highlight .gh {
  color: #999;
}
.highlight .gi {
  color: #000;
  background-color: #dfd;
}
.highlight .gi .x {
  color: #000;
  background-color: #afa;
}
.highlight .go {
  color: #888;
}
.highlight .gp {
  color: #555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaa;
}
.highlight .gt {
  color: #a00;
}
.highlight .kc {
  font-weight: bold;
}
.highlight .kd {
  font-weight: bold;
}
.highlight .kp {
  font-weight: bold;
}
.highlight .kr {
  font-weight: bold;
}
.highlight .kt {
  color: #458;
  font-weight: bold;
}
.highlight .m {
  color: #099;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #458;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #900;
  font-weight: bold;
}
.highlight .nf {
  color: #900;
  font-weight: bold;
}
.highlight .nn {
  color: #555;
}
.highlight .nt {
  color: #000080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  font-weight: bold;
}
.highlight .w {
  color: #bbb;
}
.highlight .mf {
  color: #099;
}
.highlight .mh {
  color: #099;
}
.highlight .mi {
  color: #099;
}
.highlight .mo {
  color: #099;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .il {
  color: #099;
}

/*# sourceMappingURL=main.css.map */


.name-sidebar a.mark {
    font-style: italic;
    font-weight: bolder;
    text-decoration: underline;
}

.pagination a.disabled {
  color: #000000;
  pointer-events:none;
}