<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="Permissions-Policy" content="interest-cohort=()">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ZX81 hoy</title>
    <meta name="description" content="Blog sobre novedades del ordenador Sinclair ZX81">  
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">

    <meta name="theme-color" content="#CCC">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="canonical" href="https://zx81hoy.gitlab.io/">
    <link rel="alternate" type="application/rss+xml" title="ZX81" href="https://zx81hoy.gitlab.io/feed.xml">
    <link rel="icon" href="./assets/favicon.ico">
    <link rel="apple-touch-icon" href="./assets/favicon.ico"> 
  </head>

  <body>

    <header class="site-header">
      <div class="wrapper">
        <a id="index" class="site-title" href="#"><span>ZX81 <span class="subtitle">hoy</span></span><img src="./assets/sinclair-zx81.webp" alt="ZX81" /></a>
      </div>
    </header>

    <noscript>
      <div style="text-align: center;">
        <br/>
        <h2>Javascript está deshabilitado en su navegador web.</h2>
      </div>
      <div style="text-align: center;">
        <img  src="./assets/error_js.png" alt="Javascript deshabilitado" />
      </div>
      <div style="text-align: center;">        
          <br />
          Por favor, para ver correctamente este sitio, <b><i>habilite javascript</i></b>.<br />
          <br />
          Para ver las instrucciones para habilitar javascript en su navegador <a href="http://www.enable-javascript.com/es/" target="_blank">haga click aquí.</a>
      </div>
    </noscript>

    <div class="page-content">
      <div class="sidebar">
        <span class="name-sidebar">
          <a id="aboutLink" href="#" data-href="about">Sobre el blog</a>
        </span>

        <div id="dateSidebar">
        </div>

        <details id="tagSideBar">
          <summary>Etiquetas</summary>
          <ul id="tagListContainer" class="post-list post-list-sidebar">
          </ul>
        </details>
        <details id="autorSideBar">
          <summary>Autores</summary>
          <ul id="autorListContainer" class="post-list post-list-sidebar">
          </ul>
        </details>
      </div>
      <div class="wrapper">

        <div id="about" class="hide">
        </div>


        <article id="content" class="post hidde" itemscope itemtype="http://schema.org/BlogPosting">
        </article>


        <div id="index" class="home">

          <h1 id="tag-contaniner" class="hide">Etiqueta: <span id="tag"></span></h1>
          <h1 id="autor-contaniner" class="hide">Juegos de <b><span id="autor"></span></b></h1>

          <ul id="listPost" class="post-list index">
          </ul>

          <!-- pagination -->

          <div id="pagination" class="pagination">            
              <a id="pagInit" class="link-pag" href="#" data-page="0">&laquo;&laquo;</a>
              <a id="pagPrev" class="link-pag" href="#" data-page="0">&laquo;Prev</a>
              <a id="pagA" class="link-pag" href="#" data-page="1">1</a>
              <a id="pagB" class="link-pag" href="#" data-page="2">2</a>
              <a id="pagC" class="link-pag" href="#" data-page="3">3</a>
              <a id="pagD" class="link-pag" href="#" data-page="4">4</a>
              <a id="pagE" class="link-pag" href="#" data-page="5">5</a>
              <a id="pagNext" class="link-pag" href="#" data-page="1">Next&raquo;</a>        
              <a id="pagEnd" class="link-pag" href="#" data-page="1">&raquo;&raquo;</a>   
          </div>
        </div>

      </div>
    </div>

    <footer class="site-footer">
      <div class="wrapper">
        <div class="footer-flex">
          <div class="footer-item">
            <ul class="contact-list">              
              <li>
                <a href="mailto:salvacams at gmail.com"><span class="icon icon--mail">Correo</span></a> (Modifica el enlace)
              </li>              
            </ul>
          </div>
          
          <div class="footer-item">
            <p class="rss-subscribe"><a href="./feed.xml">RSS</a></p>
          </div>
        </div>
      </div>
    </footer>

  <!-- Template -->

  <script id="listPostTemplate" type="x-template">      
    <a class="post-link post-link-list-select" href="#" data-href="{{href}}">
      <span class="index">
        <img class="index" height="125px" src="assets/{{asset}}" alt="{{tittle}}" />
      </span>
      <br class="hide_large"/>          
      {{title}}
      <time datetime="{{date}} 00:00:00 +0100" class="post-meta">{{dateFormat}}</time>    
    </a>
  </script>

  <script id="autorTemplate" type="x-template">
      <a id="autor_{{autor_format}}" href="#" data-href="{{autor}}" class="autors">{{autor}} <span>({{numPost}})</span></a>
  </script>

  <script id="tagTemplate" type="x-template">
      <a id="tag_{{name}}" href="#" data-href="{{name}}" class="tags">{{name}} <span>({{numPost}})</span></a>
  </script>

  <script id="yearTemplate" type="x-template">
    <summary>{{year}} ({{yearNum}})</summary>
  </script>

  <script id="monthTemplate" type="x-template">
    <summary class="month-sidebar" style="">{{month}} ({{monthNum}})</summary>
    <ul id="{{monthId}}" class="post-list post-list-sidebar">
    </ul>
  </script>

  <script id="dayTemplate" type="x-template">
      <span>{{day}}</span> 
      <a id="{{dayId}}" class="post-link-select" href="#" data-href="{{href}}">{{title}}</a>
  </script>

  <script type="text/javascript" src="./js/data.js?q=002"></script>
  <script type="text/javascript" src="./js/main.js"></script>  

  </body>

</html>
