<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Calendario 2022</h1>
    <p class="post-meta">
      <time datetime="2021-12-30 00:00:00 +0100" class="post-meta"> 30 de Diciembre
  
del 2021</time>
    </p>
  </header>

  

  <div class="post-content" itemprop="articleBody">
    <p>He creado un calendario para poner en una caja de cassette con programas del ZX81 que han salido en el 2021</p>

<p style="text-align: center;"><img src="./assets/21/12/calendario.jpg" alt="Calendario 2022" /></p>

<p>Hay dos versiones disponibles:</p>
<ul>
  <li>Lunes a domingo en español</li>
  <li>Domingo a sábado en ingles</li>
</ul>

<p style="text-align: center;"><img src="./assets/21/12/calendario_fisico.jpg" alt="Calendario" /></p>

<p><a href="/assets/calendario2021/2021_es.pdf" target="_blank">Lunes a domingo en español</a></p>

<p><a href="/assets/calendario2021/2021_en.pdf" target="_blank">Domingo a sábado en ingles</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
    
  
    
        
    <a class="tags" href="#" data-href="calendario">calendario&nbsp;</a>
    
  </span>
