<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Trader</h1>
    <p class="post-meta">
      <time datetime="2021-12-23 00:00:00 +0100" class="post-meta"> 23 de Diciembre
  
del 2021</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Pixel">Pixel</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p><a href="http://www.zx81stuff.org.uk/zx81/tape/Trader" target="_blank">Trader de 1982</a>, traducido al español</p>

<p style="text-align: center;"><img src="./assets/21/12/trader.jpg" alt="Trader" /></p>

<p>Aprovechando que hace unos meses <a href="https://azimov.itch.io" target="_blank">Azimov</a> tradujo al español la versión del ZX Spectrum de este juego, <a href="https://azimov.itch.io/la-triloga-del-comerciante" target="_blank">La Trilogía del Comerciante</a> lo ha llamado, he decidido usar su traducción para la versión de ZX81.</p>

<p style="text-align: center;"><img src="./assets/21/12/trader_es.jpg" alt="Traducción" /></p>

<p>El juego es una aventura espacial, mezcla de comercio, arcade y exploración. Esta dividida en tres cargas, el archivo contiene un archivo tzx y las 4 archivo p, se puede cargar el archivo tzx o el t.p, el resto de cargas se van llamando solas cuando se termina una parte.</p>

<p><a href="https://gitlab.com/salvacam/zx81/-/raw/master/Trader_zx81_esp/Trader_zx81_esp.zip">Enlace al juego</a>
para su descarga.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2021">2021&nbsp;</a>
    
  
    
    
  
    
        
    <a class="tags" href="#" data-href="traducciones">traducciones&nbsp;</a>
    
  </span>
