<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Omega Phoenix</h1>
    <p class="post-meta">
      <time datetime="2021-12-16 00:00:00 +0100" class="post-meta"> 16 de Diciembre
  
del 2021</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Bukster">Bukster</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Conversión del arcade de 1980 Phoenix</p>

<p style="text-align: center;"><img src="./assets/21/12/omegaphoenix.jpg" alt="Omega Phoenix" /></p>

<p>Es necesario una expansión de 16k, tiene soporta para el interfaz Chroma y Zon-X81</p>

<p>El juego sigue el patrón del juego arcade original, dos ataques de pájaros pequeños seguidas de dos ataques de pájaros grandes, que salen de sus huevos, y una batalla con el jefe.</p>

<p>Se obtiene una vida extra cada 10.000 puntos</p>

<p style="text-align: center;"><img src="./assets/21/12/omegaphoenix_chroma.jpg" alt="Omega Phoenix Chroma" /></p>

<p>Al tener sonido y colores es una conversión muy lograda y casí da la sensación de estar jugando al arcade original</p>

<p><a href="http://bukstergames.bizhat.com/" target="_blank">Enlace de descarga</a> de la web del autor</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2021">2021&nbsp;</a>
</span>
