<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Zedipede</h1>
    <p class="post-meta">
      <time datetime="2021-11-07 00:00:00 +0100" class="post-meta"> 7 de Noviembre del 2021</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Jonathan Cauldwell">Jonathan Cauldwell</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Nueva versión del Centipede para el ZX81</p>

<p style="text-align: center;"><img src="./assets/21/11/zedipede.jpg" alt="Zedipede" /></p>

<p>El creador del <a href="https://jonathan-cauldwell.itch.io/arcade-game-designer" target="_blank">AGD</a> nos deleita con una estupenda versión del Centipede en 16K.</p>

<p>Poco se puede añadir a este famoso juego, esta versión esta realizada en código máquina y parece que no sera el último juego para el ZX81 que nos regale Jonathan, está trabajando en una versión del <a href="https://www.youtube.com/watch?v=Kgt4CfYtFT4&amp;t=210s&amp;ab_channel=JonathanCauldwell" target="_blank">Burger Time</a></p>

<p><a href="https://jonathan-cauldwell.itch.io/zedipede" target="_blank">Enlace a itchio</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2021">2021&nbsp;</a>
</span>
