<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Sir Clive</h1>
  <p class="post-meta">
    <time datetime="2021-10-30 00:00:00 +0200" class="post-meta"> 30 de Octubre del 2021</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dr Beep">Dr Beep</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p>Un nuevo juego en alta resolución y en 1k, y no es el único el mismo autor lleva 81.</p>

  <p style="text-align: center;"><img src="./assets/21/10/sir-clive.jpg" alt="Sir Clive" /></p>

  <p>Un juego tributo a Sir Clive Sinclair, tienes que recorrer su mansión, son 162 habitaciones, y tienes que descubrir cómo inventar el ZX81. Consiste en encontrar los caracteres en el orden correcto.</p>

  <p>El juego en algunos momentos se hace un poco repetitivo, sobre todo cuando recorres largos “pasillos” si no recoges los caracteres en orden correcto debes empezar desde el principio.</p>

  <p>Lo malo es que es poco rejugable. Pero es recomendable probarlo por el solo hecho de ver a Clive Sinclair moverse en el ZX81 en 1K de memoria.</p>

  <p>Los controles son</p>
  <ul>
    <li>Q = arriba</li>
    <li>A = abajo</li>
    <li>O = izquierda</li>
    <li>P = derecha</li>
    <li>NewLine = Reinicia un juego completo.</li>
  </ul>

  <p><a href="https://sinclairzxworld.com/download/file.php?id=10494">Enlace de descarga</a></p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=44801#p44801" target="_blank">Enlace al foro Sinclair ZX World</a>
  donde hay más detalles.</p>
</div>

Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2021">2021&nbsp;</a>
</span>
