<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Crap Games 2021</h1>
    <p class="post-meta">
      <time datetime="2021-12-20 00:00:00 +0100" class="post-meta"> 20 de Diciembre
  
del 2021</time>
    </p>
  </header>

  

  <div class="post-content" itemprop="articleBody">
    <p>Este año ha habido 11 juegos para ZX81 presentados en el concurso Crap Games</p>

<p style="text-align: center;"><img src="./assets/21/12/crap2021.jpg" alt="Crap Games 2021" /></p>

<p>La 25 edición de este concurso nos ha dejado un total de 62 entradas</p>
<ul>
  <li>13 para ZX Spectrum 16K</li>
  <li>22 para ZX Spectrum 48K</li>
  <li>6 para ZX Spectrum 128K</li>
  <li>11 para ZX81</li>
  <li>2 para ZX80</li>
  <li>5 para QL</li>
  <li>2 para Z88</li>
  <li>1 para Jupiter Ace</li>
</ul>

<p>Los juegos presentados para ZX81 son:</p>
<ol>
  <li><a href="https://www.rickdangerous.co.uk/csscgc2021/review014.html" target="_blank">DON’T PANIC</a></li>
  <li><a href="https://www.rickdangerous.co.uk/csscgc2021/review017.html" target="_blank">MOTORACE81</a></li>
  <li><a href="https://www.rickdangerous.co.uk/csscgc2021/review018.html" target="_blank">CAMEL RACING</a></li>
  <li><a href="https://www.rickdangerous.co.uk/csscgc2021/review019.html" target="_blank">ZONKEY KONG</a></li>
  <li><a href="https://www.rickdangerous.co.uk/csscgc2021/review022.html" target="_blank">ZHUNDER VLADE</a></li>
  <li><a href="https://www.rickdangerous.co.uk/csscgc2021/review032.html" target="_blank">SNAIL MAZE</a></li>
  <li><a href="https://www.rickdangerous.co.uk/csscgc2021/review034.html" target="_blank">WALL OF CHINA</a></li>
  <li><a href="https://www.rickdangerous.co.uk/csscgc2021/review046.html" target="_blank">FALL PALO T</a></li>
  <li><a href="https://www.rickdangerous.co.uk/csscgc2021/review048.html" target="_blank">ESCARABAJO</a></li>
  <li><a href="https://www.rickdangerous.co.uk/csscgc2021/review049.html" target="_blank">HIGHWAY ROBBERY 2021</a></li>
  <li><a href="https://www.rickdangerous.co.uk/csscgc2021/review061.html" target="_blank">RUDOLPH PRACTICES</a></li>
</ol>

<p>Son enlaces a la revisión del organizador del concurso.</p>

<p><a href="https://www.rickdangerous.co.uk/csscgc2021/index.html" target="_blank">Enlace al concurso</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2021">2021&nbsp;</a>
    
  
    
        
    <a class="tags" href="#" data-href="concurso">concurso&nbsp;</a>
    
  </span>
