<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Retro Snake</h1>
  <p class="post-meta">
    <time datetime="2021-10-31 00:00:00 +0200" class="post-meta"> 31 de Octubre del 2021</time>
  </p>
</header>

<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="ZX81ultra">ZX81ultra</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p>Otro juego con gráficos en alta resolución pero este para 16k.</p>

  <p style="text-align: center;"><img src="./assets/21/10/retro-snake.jpg" alt="Retro Snake" /></p>

  <p>Es el típico juego de la serpiente, pero con el añadido de que tienes un enemigo que se va moviendo por la pantalla cambiando de dirección al chocar con las paredes o con la cola de la serpiente y que la distribución de la pantalla va cambiando en cada fase. Al principio solo hay un enemigo, en las pantallas finales salen dos enemigos a la vez.</p>

  <p>Tienes que evitar chocar la cabeza de la serpiente con algún enemigo, con tu cuerpo o con alguna pared. Un elemento importante es saber jugar con el cuerpo de la serpiente para dirigir al enemigo.</p>

  <p>En cada fase tienes que recoger 10 manzanas y una última, que siempre esta en la el centro de la parte superior, y que sirve de puerta para pasar a la siguiente fase.</p>

  <p>Al principio solo tienes una pared en el centro de la pantalla y a medida que avanzas de fase se va complicando con una distribución más compleja, terminando en la últimas pantallas con paredes móviles.</p>

  <p>Bastante difícil de acabar pero asequibles en las primeras pantallas.</p>

  <p><a href="https://www.sinclairzxworld.com/download/file.php?id=7952">Enlace de descarga</a></p>

  <p><a href="https://www.sinclairzxworld.com/viewtopic.php?p=37645#p37645" target="_blank">Enlace al foro Sinclair ZX World</a>
  donde hay más detalles.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2021">2021&nbsp;</a>
</span>
