<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Resumen del 2021</h1>
    <p class="post-meta">
      <time datetime="2021-12-31 00:00:00 +0100" class="post-meta"> 31 de Diciembre
  
del 2021</time>
    </p>
  </header>

  

  <div class="post-content" itemprop="articleBody">
    <p>En octubre empecé a mostrar los nuevos programas que iban saliendo para el ZX81, estuve viendo como algunos programas no se daban a conocer mucho, y tenias que estar buscando en foros o grupos de facebook para estar al día de las novedades. Por lo que decidí intentar facilitar seguir la escena de este micro, a quien estuviera interesado.</p>

<p>Durante estos tres meses he mostrado 19 post, sobre unos 20 programas, creo que no me he dejado muchos programas de este año sin mostrarlo, en este post intentare añadir los que no he comentado y mostrar los concursos que ha habido este año en que se podían presentar programas para el ZX81.
Espero que durante el 2022 puedan ser mucho más los programas nuevos que muestre en el blog.</p>

<p style="text-align: center;"><img src="./assets/21/12/2021.jpg" alt="Resumen del 2021" /></p>

<p>Los programas que deberías perderte de este 2021 son los siguentes.</p>

<p><a href="https://rickdangerous.co.uk/csscgc2021/review019.html" target="_blank">ZONKEY KONG</a></p>

<p><a href="https://bobs-stuff.itch.io/shrooms" target="_blank">Shrooms</a></p>

<p><a href="https://pixelmaker04.itch.io/ditherpaint81" target="_blank">DitherPaint81</a></p>

<p><a href="https://sinclairzxworld.com/viewtopic.php?p=37645#p37645" target="_blank">Retro Snake</a></p>

<p><a href="https://jonathan-cauldwell.itch.io/zedipede" target="_blank">Zedipede</a></p>

<p><a href="http://bukstergames.bizhat.com" target="_blank">Omega Phoenix</a></p>

<p><a href="https://sinclairzxworld.com/viewtopic.php?p=44222#p44222" target="_blank">Applepie</a></p>

<p><a href="https://sinclairzxworld.com/viewtopic.php?p=41373#p41373" target="_blank">2PAXMAN</a></p>

<p><a href="https://gitlab.com/salvacam/zx81/-/raw/master/Trader_zx81_esp/Trader_zx81_esp.zip?inline=false" target="_blank">Trader (Español)</a></p>

<p><a href="https://bobs-stuff.itch.io/steps" target="_blank">Steps</a></p>

<p><br />
<br /></p>

<p><a href="#concursos" id="concursos"><strong>Concursos</strong></a></p>

<p>En los concursos que se podían presentar juegos de ZX81 ha tenido en casi todos presencia</p>

<ul>
  <li><a href="https://www.rickdangerous.co.uk/csscgc2021/index.html" target="_blank">Crap Games</a></li>
</ul>

<p>De los 62 juegos presentados 11 son para ZX81, ya hice una <a href="./index.html?post=21-12-20-crap2021">entrada</a> donde están todos los enlaces de las reseñas del organizador del concurso.</p>

<ul>
  <li><a href="https://gkanold.wixsite.com/homeputerium" target="_blank">BASIC 10Liner</a></li>
</ul>

<p>Un concurso en el que se presentan programas en Basic de un máximo de 10 lineas, con cuatro categorías según la longitud de las líneas.</p>

<p>Se presentaron 4 juegos para el ZX81:</p>

<ul>
  <li class="emptyList">
    <ul>
      <li><a href="https://bunsen.itch.io/route-81-by-marcos-retrobits" target="_blank">Route 81</a> de Marco’s Retrobits</li>
      <li><a href="https://bunsen.itch.io/langtons-ant-10liner-for-zx81-by-ernesto-uriburu" target="_blank">Langton’s Ant 10Liner</a> de Ernesto Uriburu</li>
      <li><a href="https://bunsen.itch.io/game-of-life-by-ernesto-uriburu" target="_blank">Game of Life</a> de Ernesto Uriburu</li>
      <li><a href="https://bunsen.itch.io/you-are-offline-by-salvador-camacho" target="_blank">You are Offline</a> presentado por mi.
<br />
<br /></li>
    </ul>
  </li>
  <li><a href="https://itch.io/jam/ascii-basic-10liner/entries" target="_blank">Ascii 10 liner</a></li>
</ul>

<p>En este concurso se podían presentar programas en Basic de 10 lineas con un máximo de 72 caracteres por línea, sin sprite ni UDG, solo se podían usar caracteres ASCII.</p>

<p>De los 31 juegos que se presentaron, solo <a href="https://salvacam.itch.io/scroll" target="_blank">Scroll</a> era para ZX81.</p>

<ul>
  <li><a href="https://itch.io/jam/zx-spectrum-game-jam-2021" target="_blank">Bike</a></li>
</ul>

<p>Este concurso se podían presentar juegos para ZX80, ZX81, ZX Spectrum y Next, en cualquier lenguaje, y de temática relacionada con bicicletas o motocicletas. Quedo desierto, no se llego a presentar ningún juego.</p>

<p>Yo tenía preparado un juego que no me dio tiempo acabar, aunque ya no entre en concurso espero poder terminarlo en el 2022. Si alguien quiere probar la beta esta en <a href="https://gitlab.com/salvacam/zx81/-/raw/master/bike2021/bmx81.P" target="_blank">gitlab</a>.
Es un demake del Alex Kidd BMX Trail, los controles son O para mover a la izquierda, P para mover a la derecha y Espacio o M para pedalear.</p>

<p><br />
<br /></p>

<p>Nos leemos en el 2022.</p>

<p style="text-align: center;"><img src="./assets/21/12/2022.gif" alt="Feliz 2022" /></p>

<p>Felicitación de <a href="https://sinclairzxworld.com/viewtopic.php?p=45494#p45494" target="_blank">XavSnap</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2021">2021&nbsp;</a>
    
  
    
        
    <a class="tags" href="#" data-href="concurso">concurso&nbsp;</a>
    
  </span>
