<header class="post-header">
    <h1 class="post-title" itemprop="name headline">QFrogger</h1>
    <p class="post-meta">
      <time datetime="2021-12-14 00:00:00 +0100" class="post-meta"> 14 de Diciembre
  
del 2021</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Thewiz">Thewiz</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Un clon de Frogger en un 1k</p>

<p style="text-align: center;"><img src="./assets/21/12/qfrogger.jpg" alt="QFrogger" /></p>

<p>Aunque el juego es del 2009 se resubio hace poco debido a que el enlace de descarga del foro estaban rotos.</p>

<p>Así que a los que se nos pase hace más de 10 años tenemos ahora la oportunidad de disfrutar en una gran recreación del arcade en solo un 1k.</p>

<p>Debido a la limitación del tamaño solo usa una cuarta parte de la pantalla, pero si incluye hiscore y se mueve bastante rápido.</p>

<p>Los controles son</p>
<ul>
  <li>Q = arriba</li>
  <li>A = abajo</li>
  <li>O = izquierda</li>
  <li>P = derecha</li>
</ul>

<p><a href="https://sinclairzxworld.com/viewtopic.php?p=41925#p41925" target="_blank">Enlace al foro Sinclair ZX World</a> donde hay más detalles y el enlace de descarga.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2021">2021&nbsp;</a>
</span>
