<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Cross Snake</h1>
    <p class="post-meta">
      <time datetime="2021-12-24 00:00:00 +0100" class="post-meta"> 24 de Diciembre
  
del 2021</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Fabrizio">Fabrizio</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Versión experimental del Snake para ZX81</p>

<p style="text-align: center;"><img src="./assets/21/12/crosssnake.jpg" alt="Cross Snake" /></p>

<p>El autor de <a href="https://github.com/Fabrizio-Caruso/CROSS-LIB/" target="_blank">Cross-Lib</a>, una librería en C que puede usar para hacer juegos para 200 sistemas retro, escribió este juego y lo compilo para ZX81 con 32K de expansión y con gráficos en alta resolución.</p>

<p style="text-align: center;"><img src="./assets/21/12/crosssnake_ins.jpg" alt="Instrucciones" /></p>

<p>Los controles son</p>
<ul>
  <li>I = arriba</li>
  <li>K = abajo</li>
  <li>J = izquierda</li>
  <li>L = derecha</li>
  <li>Espacio = Disparo.</li>
</ul>

<p>El juego consiste en coger todas las manzanas de los 32 niveles (existe un nivel secreto) y evitar chocar la cabeza de la serpiente con las minas o el cuerpo de la serpiente. La lectura del teclado no es muy buena, por lo que cuesta un poco cambiar de dirección muy rápido, pero como no mueres al chocar con los muros se compensa esa deficiencia.</p>

<p><a href="https://spectrumcomputing.co.uk/entry/37627/ZX81/Cross_Snake" target="_blank">Enlace al juego</a>
para su descarga.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2021">2021&nbsp;</a>
</span>
