<header class="post-header">
  <h1 class="post-title" itemprop="name headline">All Hires</h1>
  <p class="post-meta">
    <time datetime="2021-12-18 00:00:00 +0100" class="post-meta"> 18 de Diciembre del 2021</time>
  </p>
</header>

<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dr Beep">Dr Beep</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p>Los 81 juegos de 1k en alta resolución de Dr Beep en un solo enlace.</p>

  <p style="text-align: center;"><img src="./assets/21/12/allhires.jpg" alt="All Hires" /></p>

  <p>Los 81 juegos más una intro los ha puesto el autor en un solo archivo comprimido, para mayor comodidad. 
  Ya no hay que andar buscando los juegos en el hilo del foro, aunque algunos habrá que buscarlos para ver los controles y como jugarlo.</p>

  <p>He creado un video con los 81 juegos
  <a href="https://www.youtube.com/watch?v=QII_RKTAmAw" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/QII_RKTAmAw/0.jpg'"> </a></p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=45132#p45132" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el archivo.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2021">2021&nbsp;</a>
</span>
