<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Minehunt y Santa Simulator 1.0</h1>
    <p class="post-meta">
      <time datetime="2021-12-28 00:00:00 +0100" class="post-meta"> 28 de Diciembre
  
del 2021</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Kurt-Arne Johnsen">Kurt-Arne Johnsen</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Dos nuevos juegos que han aparecido en el grupo de facebook <a href="https://www.facebook.com/groups/ZX81OwnersClub/about" target="_blank">ZX81 Owners Club</a></p>

<p style="text-align: center;"><img src="./assets/21/12/minehunt.jpg" alt="Minehunt y Santa Simulator 1.0" /></p>

<p>Una versión Mined-Out, o Campo Minado como llego a España, que ha realizado en basic. No por eso se mueve lento, todo lo contrario, se muy muy fluido, solo cuando chocas con una mina tarda unos segundos en mostrar las minas en pantalla.
Las minas se colocan aleatoriamente (ocultas) y aumentan en número por cada nivel que completes. La única información que obtienes durante el juego es cuántas bombas hay cerca de ti.</p>

<p style="text-align: center;"><img src="./assets/21/12/santa.jpg" alt="Santa Simulator 1.0" /></p>

<p>Eres Santa y tienes que colocar a Rudolph y el trineo y tirar los regalos para que entren en la chimenea. A mayor altitud más puntos consigues.
Bastante difícil de que entren los regalos por la chimenea.</p>

<p>Los dos juegos están en github en formato p y z81, así como el código fuente de los dos juegos</p>

<p><a href="https://github.com/Retronissen/Sinclair-ZX81-Software-in-hounor-for-Sir-Clive" target="_blank">Repositorio de github</a>
para su descarga.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2021">2021&nbsp;</a>
</span>
