<header class="post-header">
    <h1 class="post-title" itemprop="name headline">2PAXMAN</h1>
    <p class="post-meta">
      <time datetime="2021-11-19 00:00:00 +0100" class="post-meta"> 19 de Noviembre del 2021</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dr Beep">Dr Beep</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Un clon de pacman para el ZX81</p>

<p style="text-align: center;"><img src="./assets/21/11/2paxman.jpg" alt="2PAXMAN" /></p>

<p>Inicialmente llamado ZPAXMAN, una combinación de ZX y PACMAN, fue modificado el nombre para hacer posibles 2 juegos de pacman.</p>

<p>Cada juego tiene 4 niveles para jugar.</p>

<p>El juego tiene otro juego oculto, que se desbloquea cuando tienes la puntuación más alta en los dos juegos, podras seleccionar el juego 3 que tiene otros 4 niveles más.
Al terminar una partida jugando a los 3 modos de juegos se agrega la opción 3 al menú.</p>

<p style="text-align: center;"><img src="./assets/21/11/2paxman_menu.jpg" alt="3PAXMAN menu" /></p>

<p>La única pega es que no permite mantener pulsada dos teclas si quieres cambiar de dirección tienes que dejar de pulsar la última tecla y pulsar la nueva, y para los cambios rápidos de dirección cuesta un poco acostumbrarse</p>

<p><a href="https://www.sinclairzxworld.com/viewtopic.php?p=41373#p41373" target="_blank">Enlace al foro Sinclair ZX World</a>
donde hay más detalles y el enlace de descarga.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2021">2021&nbsp;</a>
</span>
