<header class="post-header">
    <h1 class="post-title" itemprop="name headline">BMX Trial</h1>
    <p class="post-meta">
      <time datetime="2022-04-29 00:00:00 +0200" class="post-meta"> 29 de Abril del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Salvacam">Salvacam</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Una demake del <a href="https://segaretro.org/Alex_Kidd_BMX_Trial" target="_blank">Alex Kidd Bmx Trial</a> para ZX81</p>

<p style="text-align: center;"><img src="./assets/22/04/bmxTrial.jpg" alt="BMX Trial" /></p>

<p>Mi intención era presentar este juego para el concurso <a href="https://itch.io/jam/zx-spectrum-game-jam-2021" target="_blank">Bike</a>. Pero al final no me dio tiempo de acabarlo.</p>

<p>En este concurso se podían presentar juegos para ZX80, ZX81, ZX Spectrum y Next, en cualquier lenguaje, y de temática relacionada con bicicletas o motocicletas. Quedo desierto, no se llego a presentar ningún juego.</p>

<p>Aunque lo tenía casi, me faltaron varias cosas por terminar.</p>

<p style="text-align: center;"><img src="./assets/22/04/bmxTrial_start.jpg" alt="pantalla de inicio" /></p>

<p>El juego consiste en aguantar el máximo tiempo posible pedaleando, sino pedaleas no aumentas la puntuación, cada cierto tiempo van,en sentido contrario, otros ciclistas que tienes que evitar chocar con ellos, y mientras vas pedaleando irán saliendo rocas en el camino que también debes evitar chocar con ellas.
Si pasas por el barro, que esta en los laterales, iras más lento.</p>

<p>Los controles son</p>
<ul>
  <li>O = izquierda</li>
  <li>P = derecha</li>
  <li>M o Espacio = pedalear</li>
</ul>

<p><a href="https://salvacam.gitlab.io/asset/bmxTrial.c" target="_blank">Enlace del código.</a></p>

<p><a href="https://salvacam.gitlab.io/asset/bmxTrial.P" target="_blank">Enlace del juego.</a></p>

<p>Todos lo juegos que he realizado para ZX81 y ZX Spectrum, además del código fuente, se encuentran en <a href="https://salvacam.gitlab.io/" target="_blank">esta web</a> y se puede probar desde la web (excepto el único juego de ZX80, no he encontrado un emulador de ZX80 en javascript).</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
