<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Hangman</h1>
    <p class="post-meta">
      <time datetime="2022-07-05 00:00:00 +0200" class="post-meta"> 5 de Julio del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Stefano">Stefano</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>El juego del ahorcado del manual ZX Spectrum BASIC.</p>

<p style="text-align: center;"><img src="./assets/22/07/Hangman.png" alt="Hangman" /></p>

<p>El juego es una conversión en C del juego ahorcado del manual ZX Spectrum.
Requiere 16K y una expansión de gráficos, se admiten los modos G007, WRX y ARX.</p>

<p>Requiere dos jugadores, el primero escribe la palabra secreta, el segundo jugador tiene que adivinarla escribiendo las letras.</p>

<p><a href="https://sinclairzxworld.com/viewtopic.php?f=4&amp;t=4717" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
