<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Invincible Island</h1>
    <p class="post-meta">
      <time datetime="2022-03-12 00:00:00 +0100" class="post-meta"> 12 de Marzo del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Mancave Software">Mancave Software</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Port de la aventura de texto (en ingles) de 1983 de Peter Cook para ZX Spectrum.</p>

<p style="text-align: center;"><img src="./assets/22/03/invincible_island.jpg" alt="Invincible Island" /></p>

<p>Primer juego creado por <a href="https://mancave.itch.io/" target="_blank">Mancave Softwar</a> y publicado usando su propio motor, MATE (Mancave Adventure Text Engine), inicialmente sólo para ZX81 con 16K, aunque el autor espera adaptarlo a otros sistemas. Según explica en la página de itchio, tardo dos tarde crear el juego, gracias al motor MATE.</p>

<p>Por las limitaciones de memoria, existen algunas diferencias entre esta versión y la versión original de Spectrum de 48k, esta explicado en una archivo de texto descargable en la página de itchio, cuidado que tiene spoilers. Aún con las diferencias, todas las ubicaciones con sus descripciones y casi todos los objetos están presentes. Según el autor, al 95% del juego original.</p>

<p>Aquí está la publicidad del lanzamiento original:</p>

<p>ISLA INVENCIBLE es el primitivo hogar ancestral de la misteriosa tribu Xaro. Al margen de la civilización, la leyenda cuenta que estos salvajes de la isla guardan los tesoros inimaginables de su primer gran líder, el propio Xaro.</p>

<p>Afortunadamente, tienes algo más que una leyenda para guiarte. Mientras estaba en la Isla Invencible, el Dr. Chumley, el mundialmente famoso explorador, envió un último mensaje desesperado en una botella. Entre sus súplicas de ayuda y rescate había una pista vital: “Primero encuentra los Siete Pergaminos de Xaro”. Nunca más se supo de él, ¡quizás los nativos tenían hambre!</p>

<p>Armado con esta información, tu misión es encontrar los siete pergaminos que, si el Dr. Chumley tenía razón, deberían llevarte al tesoro. Pero recuerda: el tesoro no te sirve de nada a menos que puedas escapar con él, ¡vivo!</p>

<p><a href="https://mancave.itch.io/invincible-island" target="_blank">Enlace a itchio</a> para su descarga.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
