<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Zedi Blaster</h1>
    <p class="post-meta">
      <time datetime="2022-07-15 00:00:00 +0200" class="post-meta"> 15 de Julio del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Jonathan Cauldwell">Jonathan Cauldwell</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Un Bomberman para ZX81.</p>

<p style="text-align: center;"><img src="./assets/22/07/zediBlaster.png" alt="Zedi Blaster" /></p>

<p>Como no existian ninguna versión de Bomberman para ZX81 Jonathan Cauldwell ha decidido hacer una.</p>

<p>El objetivo es matar a todos los enemigos con tus bombas y llegar a la salida, que esta oculta en alguno de los bloques que se pueden romper con la explosión. También puedes encontrar bonus, como mayor explosión de tus bombas o posibilidad de poner más bombas simultaneamentes (al principio puedes poner dos a la vez)</p>

<p>Tienes que evitar que te toquen los enemigos y la explosión de tus bombas, si no perderás una vida de las 3 que tienes y tendrás que volver desde el inicio del nivel.</p>

<p>En este juego no tienes tiempo y si ya ha explotado la bomba no puedes pasar por la explosión, dos factores que hacen más accesible el juego.</p>

<p>El juego es compatible con el interfaz Chroma, joystick ZXPAND y expansión de caracteres QS.</p>

<p style="text-align: center;"><img src="./assets/22/07/zediBlaster_chroma.png" alt="chroma81" /></p>

<p>El juego puede ser comprado en la <a href="https://cronosoft.fwscart.com/" target="_blank">web de Cronosoft</a> en <a href="https://cronosoft.fwscart.com/product/zx81-16k--zedi-blast-cassette-tape" target="_blank">formato físico</a> por 7 libras (más gastos de envío) o en <a href="https://cronosoft.fwscart.com/ZX81_DIGITAL_VERSION_for_emulator/p5357732_21597228.aspx" target="_blank">formato digital</a>  por 1,99 libras.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
