<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Palo T Game and Watch</h1>
    <p class="post-meta">
      <time datetime="2022-06-12 00:00:00 +0200" class="post-meta"> 12 de Junio del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Salvacam">Salvacam</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Adaptación de la Game &amp; Watch Helmet al <a href="https://spectrumcomputing.co.uk/entry/36495/ZX-Spectrum/Mr_Palo_T_en_Escape_de_Mundo_Palo" target="_blank">paloverso.</a></p>

<p style="text-align: center;"><img src="./assets/22/06/paloT_GameAndWatch.png" alt="Palo T Game and Watch" /></p>

<p>Como en la <a href="https://www.mariowiki.com/Helmet_(Game_%26_Watch)" target="_blank">Game &amp; Watch</a> tienes que atravesar la puerta de la derecha, cuando este abierta, evitando que te golpeen, en este caso, los escudos. Cuando te golpeen 4 veces acabas el juego.</p>

<p>Los controles son</p>
<ul>
  <li>5 = izquierda</li>
  <li>8 = derecha</li>
</ul>

<p><a href="https://salvacam.gitlab.io/asset/paloT_GameAndWatch.c" target="_blank">Enlace del código.</a></p>

<p><a href="https://salvacam.gitlab.io/asset/paloT_GameAndWatch.p" target="_blank">Enlace del juego.</a></p>

<p>Todos los juegos que he realizado para ZX81 y ZX Spectrum, además del código fuente, se encuentran en <a href="https://salvacam.gitlab.io/" target="_blank">esta web</a> y se puede probar desde la web (excepto el único juego de ZX80, no he encontrado un emulador de ZX80 en javascript).</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
