<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Bootskell</h1>
    <p class="post-meta">
      <time datetime="2022-08-27 00:00:00 +0200" class="post-meta"> 27 de Agosto del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Inufuto">Inufuto</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p style="text-align: center;"><img src="./assets/22/08/Bootskell.png" alt="Bootskell" /></p>

<p>Tienes que eliminar a todos los monstruos para pasar de fase. Para acabar con un monstruo tienes que lanzarle un bloque, te sitúas pegado a un bloque y pulsas espacio, si el bloque esta en el borde o tiene otro pegado se rompe el bloque, si tiene espacio se lanza el bloque.</p>

<p>Los monstruos también lanzan bloques. Si te golpean ellos pierdes una vida, uno pierdes una vida si te toca un monstruo.</p>

<p>Tienes tiempo en cada fase, si acaba el tiempo pierdes una vida.
Si pierdes una vida en una pantalla solo quedaran los monstruos que no hayas matado y todos los bloques se regeneran.</p>

<p>Podéis ver el juego en un vídeo que han subido el autor
<a href="https://www.youtube.com/watch?v=OSGBWiWFjls" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/OSGBWiWFjls/0.jpg'"> </a></p>

<p>Los controles son las siguiente teclas</p>
<ul>
  <li>Q = arriba</li>
  <li>A = abajo</li>
  <li>O = izquierda</li>
  <li>P = derecha</li>
  <li>Espacio = empujar bloque</li>
  <li>Espacio o Enter = empezar partida</li>
</ul>

<p><a href="http://inufuto.web.fc2.com/8bit/bootskell/#zx81" target="_blank">Enlace a la web del autor</a> donde puedes descargar el juego en formato P o wav para cargar en una máquina real.</p>

<p>Además tiene el juego para muchos otros sistemas.</p>

<p><a href="http://inufuto.web.fc2.com/8bit/zx81/bootskell.p" title="download" target="_blank">Enlace directo al juego</a></p>

</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
