<header class="post-header">
    <h1 class="post-title" itemprop="name headline">ZX81 Tetris</h1>
    <p class="post-meta">
      <time datetime="2022-07-03 00:00:00 +0200" class="post-meta"> 3 de Julio del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Adrian Pilkington">Adrian Pilkington</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Otra versión de Tetris para ZX81.</p>

<p style="text-align: center;"><img src="./assets/22/07/zx81Tetris.png" alt="ZX81 Tetris" /></p>

<p>Es el juego básico de tetris sin pantalla de introducción. Va bastante rápido resulta complicado conseguir muchas líneas.</p>

<p>El autor intento crear el juego en un zx81 no expandido con 1k de memoria, pero le resultó difícil y ahora requiere 16k.</p>

<p>Podéis ver el resultado en un vídeo que han subido el autor
<a href="https://www.youtube.com/watch?v=u6QuycaxsS0" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/u6QuycaxsS0/0.jpg'"> </a></p>

<p><a href="https://github.com/AdrianPilko/ZX81-1K-Experiments/blob/main/tetris16K.asm" target="_blank">Código fuente del juego</a></p>

<p>Los controles son</p>
<ul>
  <li>Z = izquierda</li>
  <li>M = derecha</li>
  <li>X = girar pieza</li>
  <li>C = bajar pieza</li>
</ul>

<p>Se pueden descargar los juegos del <a href="https://github.com/AdrianPilko/ZX81-1K-Experiments/blob/main/tetris16K.p" target="_blank">repositorio de github</a>
o en <a href="https://adrianpilko.itch.io/zx81-tetris" target="_blank">itchio</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
