<header class="post-header">
    <h1 class="post-title" itemprop="name headline">ZX81 Asteroids y ZX81 Racing</h1>
    <p class="post-meta">
      <time datetime="2022-04-24 00:00:00 +0200" class="post-meta"> 24 de Abril del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Adrian Pilkington">Adrian Pilkington</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Dos nuevos juegos para 16k.</p>

<p style="text-align: center;"><img src="./assets/22/04/asteroids.jpg" alt="ZX81 Asteroids y ZX81 Racing" /></p>

<p><strong>ZX81 Asteroid</strong></p>

<p>Tienes que esquivar las rocas que van hacia ti
<a href="https://www.youtube.com/watch?v=vieoDKWXXCc" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/vieoDKWXXCc/0.jpg'"> </a></p>

<p><a href="https://github.com/AdrianPilko/zx81-asteroids-game" target="_blank">Código fuente del juego</a></p>

<p style="text-align: center;"><img src="./assets/22/04/racing.jpg" alt="racing" /></p>

<p><strong>ZX81</strong></p>

<p>Un port de ZX Spectrum a ZX81, de un juego de carreras de un antiguo tutorial.
<a href="https://www.youtube.com/watch?v=UBQyVtAhb2U" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/UBQyVtAhb2U/0.jpg'"> </a></p>

<p><a href="https://github.com/AdrianPilko/zx81-racing-game-port" target="_blank">Código fuente del juego</a></p>

<p>los controles para ambos juegos son</p>
<ul>
  <li>Z = izquierda</li>
  <li>M = derecha</li>
  <li>S = empezar</li>
</ul>

<p>Se pueden descargar los juegos de los repositorios de github</p>
<ul>
  <li><a href="https://github.com/AdrianPilko/zx81-asteroids-game/raw/main/asteroids.p" target="_blank">ZX81 Asteroid</a></li>
  <li><a href="https://github.com/AdrianPilko/zx81-racing-game-port/raw/main/racing.p" target="_blank">ZX81 Racing</a></li>
</ul>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
