<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Ruptus</h1>
  <p class="post-meta">
    <time datetime="2022-08-28 00:00:00 +0200" class="post-meta"> 28 de Agosto del 2022</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Inufuto">Inufuto</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Un port del juego <a href="https://en.wikipedia.org/wiki/Bosconian" target="_blank">Bosconian</a> para ZX81</p>

  <p style="text-align: center;"><img src="./assets/22/08/Ruptus.png" alt="Ruptus" /></p>

  <p>Tienes que destruir todas las bases enemigas para pasar de fase. Evitando colisionar con las bases, naves, barreras y disparos enemigos.</p>

  <p>Al destruir naves enemigas es probable que dejen una vida extra.</p>

  <p>Necesitas 4 disparos para destruir cada base. Las barreras las desaparecen cuando destruye uno de sus extremos.</p>

  <p>Si pierdes una vida en una pantalla solo quedaran las bases que no hayas destruido.</p>

  <p>Podéis ver el juego en un vídeo que han subido el autor
  <a href="https://www.youtube.com/watch?v=Kb3PmoABK7g" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/Kb3PmoABK7g/0.jpg'"> </a></p>

  <p>Los controles son las siguiente teclas</p>
  <ul>
    <li>Q = arriba</li>
    <li>A = abajo</li>
    <li>O = izquierda</li>
    <li>P = derecha</li>
    <li>Espacio = disparar</li>
    <li>Espacio o Enter = empezar partida</li>
  </ul>

  <p><a href="http://inufuto.web.fc2.com/8bit/ruptus/#zx81" target="_blank">Enlace a la web del autor</a> donde puedes descargar el juego en formato P o wav para cargar en una máquina real.</p>

  <p>Además tiene el juego para muchos otros sistemas.</p>

  <p><a href="http://inufuto.web.fc2.com/8bit/zx81/ruptus.p" title="download" target="_blank">Enlace directo al juego</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
