<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Lift</h1>
    <p class="post-meta">
      <time datetime="2022-08-24 00:00:00 +0200" class="post-meta"> 24 de Agosto del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Inufuto">Inufuto</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p style="text-align: center;"><img src="./assets/22/08/lift.png" alt="Lift" /></p>

<p>Debes coger todas las banderas evitando a los monstruos. Puedes subir usando los ascensor.</p>

<p>Si coges las dos banderas del mismo tipo seguidas, consigues más puntos.</p>

<p>Tienes tiempo en cada fase, si acaba el tiempo pierdes una vida. Si te toca un monstruo pierdes una vida.
Si pierdes una vida en una pantalla solo tienes que coger las banderas que te queden por recoger.</p>

<p>Podéis ver el juego en un vídeo que han subido el autor
<a href="https://www.youtube.com/watch?v=1Z9cIzjegZ8" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/1Z9cIzjegZ8/0.jpg'"> </a></p>

<p>Los controles son las siguiente teclas</p>
<ul>
  <li>O = izquierda</li>
  <li>P = derecha</li>
  <li>Espacio o Enter = empezar partida</li>
</ul>

<p><a href="http://inufuto.web.fc2.com/8bit/lift/#zx81" target="_blank">Enlace a la web del autor</a> donde puedes descargar el juego en formato P o wav para cargar en una máquina real.</p>

<p>Además tiene el juego para muchos otros sistemas.</p>

<p><a href="http://inufuto.web.fc2.com/8bit/zx81/lift.p" title="download" target="_blank">Enlace directo al juego</a></p>

</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
