<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Loderunner</h1>
    <p class="post-meta">
      <time datetime="2022-05-14 00:00:00 +0200" class="post-meta"> 14 de Mayo del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dr Beep">Dr Beep</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Una versión de <a href="https://es.wikipedia.org/wiki/Lode_Runner" target="_blank">Loderunner</a> para ZX81 con 16K.</p>

<p style="text-align: center;"><img src="./assets/22/05/loderunner.jpg" alt="Loderunner" /></p>

<p>En 2017 <a href="https://www.zx81keyboardadventure.com/" target="_blank">David Stephenson</a> empezó una versión de Loderunner.
Con los niveles de David Stephenson, Dr Beep ha realizado el juego. Ha usado un método de comprensión que permite 75 niveles en un ZX81 de 16K. Y hay dos partes por lo que tenemos 150 niveles distintos donde recoger oro evitando a los guardias.</p>

<p>El menú se puede definir los controles con la tecla R. Y se comienza la partida con la tecla S.</p>

<p>Puedes saltar un nivel con SHIFT+N. Cuando estás encerrado y no puedes salir puedes terminar una vida con SHIFT+R.</p>

<p>Obtendrás una vida extra al terminar cada nivel.</p>

<p><a href="https://sinclairzxworld.com/viewtopic.php?p=46710#p46710" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
