<header class="post-header">
    <h1 class="post-title" itemprop="name headline">ZX Adventure</h1>
    <p class="post-meta">
      <time datetime="2022-08-08 00:00:00 +0200" class="post-meta"> 8 de Agosto del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Steven Goodwin">Steven Goodwin</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Un juego de aventura inspirado en el clásico de Atari 2600.</p>

<p style="text-align: center;"><img src="./assets/22/08/zxAdventure.png" alt="ZX Adventure" /></p>

<p>ZX Adventure está inspirado en el clásico juego Atari 2600 del mismo nombre.</p>

<p>Es un juego publicado en 2021. En el que debes encontrar el cáliz y llevarlo a la sala del trono. Debes evitar chocar con los dragones (símbolo &gt;),  puedes acabar con los dragones si llevas la espada (T).
Necesitas encontrar las llaves, con su correspondiente, para abrir las puertas.
Solo puedes llevar un solo objeto a la vez.</p>

<p>Los controles son los cursores o las siguiente teclas</p>
<ul>
  <li>K  = arriba</li>
  <li>M = abajo</li>
  <li>Z = izquierda</li>
  <li>X = derecha</li>
</ul>

<p>El autor tiene en su blog una <a href="http://marquisdegeek.com/code_zxadventure" target="_blank">versión del juego para ZX Spectrum</a>. La versión de ZX81 es un poco más extensa que la de ZX Spectrum.</p>

<p style="text-align: center;"><img src="./assets/22/08/zxAdventure_title.png" alt="title" /></p>

<p>El juego puede ser comprado en la <a href="https://cronosoft.fwscart.com/" target="_blank">web de Cronosoft</a> en <a href="https://cronosoft.fwscart.com/ZX_ADVENTURE_-_Sinclair_ZX81_16K_RAM_on_cassette/p5357732_20954618.aspx" target="_blank">formato físico</a> por 7 libras (más gastos de envío) o en <a href="https://cronosoft.fwscart.com/ZX81_DIGITAL_VERSION_for_emulator/p5357732_21597228.aspx" target="_blank">formato digital</a>  por 1,99 libras.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
