<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Banco</h1>
    <p class="post-meta">
      <time datetime="2022-07-06 00:00:00 +0200" class="post-meta"> 6 de Julio del 2022</time>
    </p>
  </header>

  

  <div class="post-content" itemprop="articleBody">
    <p>Un juego recuperado para ZX81.</p>

<p style="text-align: center;"><img src="./assets/22/07/Banco.png" alt="Banco" /></p>

<p>Hace unos días André Leão puso una entrada en su blog <a href="https://planetasinclair.blogspot.com/2022/06/banco-zx81.html" target="_blank">Planeta Sinclair</a> con un juego para ZX81.</p>

<p>El juego fue recuperado de un casete que donaron al <a href="https://loadzx.com/es/" target="_blank">Museo LOAD ZX Spectrum</a> No hay información sobre la autoria del juego.</p>

<p>Sólo hay dos niveles. Debes atrapar todo el dinero posible con la bolsa (símbolo dolar) y depositarlo en el banco sin que te toquen los ladrones (puntos) por que perderás todo el dinero que lleves.</p>

<p>Los controles son</p>
<ul>
  <li>5 = izquierda</li>
  <li>6 = abajo</li>
  <li>7 = arriba</li>
  <li>8 = derecha</li>
  <li>M = parar la bolsa</li>
  <li>Espacio = detener el juego</li>
</ul>

<p><a href="https://www.dropbox.com/sh/hbdnqyibxeslw2z/AAAeI9bHnCXOStZPNNp2Hmvpa?dl=0" target="_blank">Enlace para descarga el juego.</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
    
  </span>
