<header class="post-header">
    <h1 class="post-title" itemprop="name headline">C2 Aventura</h1>
    <p class="post-meta">
      <time datetime="2022-08-01 00:00:00 +0200" class="post-meta"> 1 de Agosto del 2022</time>
    </p>
  </header>

  

  <div class="post-content" itemprop="articleBody">
    <p>Cuatro juegos recuperados para ZX81.</p>

<p style="text-align: center;"><img src="./assets/22/08/c2Aventura.png" alt="C2 Aventura" /></p>

<p>Hace unos días André Leão puso una entrada en su blog <a href="https://planetasinclair.blogspot.com/2022/07/c2-aventura-zx81-mia.html" target="_blank">Planeta Sinclair</a> con cuatro juegos para ZX81.</p>

<ul>
  <li>Far-Oeste</li>
  <li>Domino do Diablo</li>
  <li>Armadilha</li>
  <li>Planeta Dione</li>
</ul>

<p>Son adaptaciones al portugués de juegos. El archivo de descarga incluye la carátula y contraportada.</p>

<p><a href="https://www.dropbox.com/sh/qb5jri5ie9te68l/AACeYZv8lmHk0GTvxi-UXcUha?dl=0" target="_blank">Enlace para descarga el juego.</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
    
  </span>
