<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Cursed Catacombs</h1>
    <p class="post-meta">
      <time datetime="2022-03-07 00:00:00 +0100" class="post-meta"> 7 de Marzo del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Walter Rissi">Walter Rissi</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Juego arcade en 16K, donde tienes que recoger tesoros evitando a los guardianes.</p>

<p style="text-align: center;"><img src="./assets/22/03/cursed_catacombs.jpg" alt="Cursed Catacombs" /></p>

<p>A través del grupo de facebook <a href="https://www.facebook.com/groups/ZX81OwnersClub/" target="_blank">ZX81 Owners Club</a> ha compartido el usuario Walter su primer juego en ensamblador para ZX81. Espero que se el primero de muchos, en el grupo de facebook tiene capturas de otros juegos en desarrollo.</p>

<p>El juego consiste en recoger todos los tesoros de cada una de las 10 salas que tiene el juego. Evitando a los guardianes de la tumba. 
Hay cuatro guardianes con diferente patrones de movimiento.</p>

<p>Si para ti no es suficiente el nivel fácil tienes 5 niveles de dificultad.</p>

<p>Dispones de tres vidas por partida, si pierdes un vida tienes volver a coger todos los tesoros de la tumba en la que te encuentres.</p>

<p>Se usan las teclas opqa o los cursores para mover al jugador</p>

<p><a href="https://drive.google.com/file/d/1KllUQ7KKyrBhZyeEBa8TwJ7mHAlwBjKi/view" target="_blank">Enlace de descarga</a></p>

<p><strong>Editado el 29-05-2022</strong></p>

<p>El autor ha publicado una nueva versión de <strong>Cursed Catacombs</strong>, que es un poco más fácil en los últimos 3 niveles que eran casi imposibles de terminar.</p>

<p><a href="https://drive.google.com/drive/folders/1piiSF6yiliQNao1UUreAB_RQ24oylZs3?fbclid=IwAR3MHhfmfLQq_YSkHNyrIz8FEi5Tuo6mamRO4gT3L9kOKbxUM1f_b-QUfH4" target="_blank">Enlace de descarga a la actualización</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
