<header class="post-header">
    <h1 class="post-title" itemprop="name headline">ARITM</h1>
    <p class="post-meta">
      <time datetime="2022-07-04 00:00:00 +0200" class="post-meta"> 4 de Julio del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="MOB-i-L">MOB-i-L</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Un juego para practicar cálculo mental.</p>

<p style="text-align: center;"><img src="./assets/22/07/aritm.png" alt="ARITM" /></p>

<p>Aritm necesita un expansión de 16K o más y está escrito en BASIC puro.</p>

<p>Se muestra un menú donde puedes elegir opciones, en la primera opción puedes elegir el orden de las preguntas o poner 0 para pasar directamente a ellas.</p>

<p>Según el autor se adapta y pregunta más sobre lo que respondes mal. Para terminar necesitas responder cada problema correctamente una vez más que incorrectamente.</p>

<p>Aritm está disponible para muchas <a href="https://github.com/mobluse/aritmjs/releases" target="_blank">plataformas.</a></p>

<p style="text-align: center;"><img src="./assets/22/07/aritm_1.png" alt="error" /></p>

<p><a href="https://sinclairzxworld.com/viewtopic.php?f=6&amp;t=4694" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
