<header class="post-header">
    <h1 class="post-title" itemprop="name headline">ZX81 Snake</h1>
    <p class="post-meta">
      <time datetime="2022-06-11 00:00:00 +0200" class="post-meta"> 11 de Junio del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Adrian Pilkington">Adrian Pilkington</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Un reboot del juego de la serpiente para ZX81.</p>

<p style="text-align: center;"><img src="./assets/22/06/zx81Snake.png" alt="ZX81 Snake" /></p>

<p>El juego consiste en manejar una serpiente y en ir comiendo manzanas, a medida que nos comemos una manzana la serpiente crece, en la pantalla tenemos a la izquierda el número de manzanas comidas (en Score) y a la derecha la longitud de la serpiente. Podemos tocar las paredes exteriores pero hay que evitar tocar la pared central, si la tocamos el juego terminara.</p>

<p>Podéis ver el resultado en un vídeo que han subido el autor
<a href="https://www.youtube.com/watch?v=ySS7uNfF3-s" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/ySS7uNfF3-s/0.jpg'"> </a></p>

<p><a href="https://github.com/AdrianPilko/ZX81-1K-Experiments/blob/main/snake16K.asm" target="_blank">Código fuente del juego</a></p>

<p>Los controles son</p>
<ul>
  <li>Z = izquierda</li>
  <li>M = derecha</li>
  <li>X = arriba</li>
  <li>N = abajo</li>
  <li>S = empezar</li>
</ul>

<p>Se pueden descargar los juegos del <a href="https://github.com/AdrianPilko/ZX81-1K-Experiments/blob/main/snake16K.p" target="_blank">repositorio de github</a>
o en <a href="https://adrianpilko.itch.io/zx81-snake-game" target="_blank">itchio</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
