<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Mazy</h1>
    <p class="post-meta">
      <time datetime="2022-09-07 00:00:00 +0200" class="post-meta"> 7 de Septiembre del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Inufuto">Inufuto</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p style="text-align: center;"><img src="./assets/22/09/Mazy.png" alt="Mazy" /></p>

  <p>Debes llegar a la salida del laberinto en cada fase.</p>

  <p>Hay enemigos que van ha impedir que llegas a la salida, si te tocan pierdes una vida. 
  Hay tiempo en cada fase. Si termina el tiempo y no has logrado salir pierdes una vida. 
  Si pierdes una vida, y todavía te quedan vidas, empiezas la fase con todos los enemigos.</p>

  <p>Puedes matar a los enemigos lanzándole un cuchillo, pero antes debes de cogerlo, si lo lanzas debes de cogerlo de nuevo si quieres volver a usarlo. Puedes llevar más de un cuchillo a la vez.</p>

  <p>Podéis ver el juego en un vídeo que han subido el autor
  <a href="https://www.youtube.com/watch?v=GA_INvVYL5M" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/GA_INvVYL5M/0.jpg'"> </a></p>

  <p>Los controles son las siguiente teclas</p>
  <ul>
    <li>Q = arriba</li>
    <li>A = abajo</li>
    <li>O = izquierda</li>
    <li>P = derecha</li>
    <li>Espacio = tirar cuchillo</li>
    <li>Espacio o Enter = empezar partida</li>
  </ul>

  <p><a href="http://inufuto.web.fc2.com/8bit/mazy/#zx81" target="_blank">Enlace a la web del autor</a> donde puedes descargar el juego en formato P o wav para cargar en una máquina real.</p>

  <p>Además tiene el juego para muchos otros sistemas.</p>

  <p><a href="http://inufuto.web.fc2.com/8bit/zx81/mazy.p" title="download" target="_blank">Enlace directo al juego</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
