<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Neuras</h1>
    <p class="post-meta">
      <time datetime="2022-08-26 00:00:00 +0200" class="post-meta"> 26 de Agosto del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Inufuto">Inufuto</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p style="text-align: center;"><img src="./assets/22/08/neuras.png" alt="Neuras" /></p>

<p>Tienes que coger una carta, hasta que no la coges no sabrás que carta es, se muestra en la parte superior derecha.
Tienes que tirar, pulsando espacio, y si colisiona con otra carta igual (con el mismo número o letra) desaparecerán el par de cartas.</p>

<p>Tienes tiempo en cada fase, si acaba el tiempo pierdes una vida. Si te toca un monstruo pierdes una vida.
Si pierdes una vida en una pantalla solo tienes que hacer desaparecer las cartas que te queden por juntar, y si llevaras una carta sigues llevando.</p>

<p>Puedes usar la carta que lleva para lanzarla a los monstruos y dejarlo aturdidos unos segundos. Mientras estén aturdidos no se mueven y puedes pasar sobre ellos.</p>

<p>Podéis ver el juego en un vídeo que han subido el autor
<a href="https://www.youtube.com/watch?v=myV0BUrN1Js" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/myV0BUrN1Js/0.jpg'"> </a></p>

<p>Los controles son las siguiente teclas</p>
<ul>
  <li>Q = arriba</li>
  <li>A = abajo</li>
  <li>O = izquierda</li>
  <li>P = derecha</li>
  <li>Espacio = disparar carta</li>
  <li>Espacio o Enter = empezar partida</li>
</ul>

<p><a href="http://inufuto.web.fc2.com/8bit/neuras/#zx81" target="_blank">Enlace a la web del autor</a> donde puedes descargar el juego en formato P o wav para cargar en una máquina real.</p>

<p>Además tiene el juego para muchos otros sistemas.</p>

<p><a href="http://inufuto.web.fc2.com/8bit/zx81/neuras.p" title="download" target="_blank">Enlace directo al juego</a></p>

</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
