<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Zimon</h1>
    <p class="post-meta">
      <time datetime="2022-08-25 00:00:00 +0200" class="post-meta"> 25 de Agosto del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="S Anello">S Anello</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Una adaptación de Simon para ZX81.</p>

<p style="text-align: center;"><img src="./assets/22/08/zimon.png" alt="Zimon" /></p>

<p>Como en el juego electrónico tenemos que ir repitiendo la secuencia de números del 1 al 4, que irán saliendo en cada cuadrado de la parte central de la pantalla.</p>

<p>Cuando fallas terminas el juego y te indica el número que deberías haber pulsado y la puntuación conseguida.</p>

<p><a href="https://sinclairzxworld.com/viewtopic.php?p=47967#p47967" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
