<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Robbers of the Lost Tomb</h1>
    <p class="post-meta">
      <time datetime="2022-04-25 00:00:00 +0200" class="post-meta"> 25 de Abril del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Timeworks">Timeworks</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>He traducido el juego <a href="http://www.zx81stuff.org.uk/zx81/tape/RobbersOfTheLostTomb" target="_blank">Robbers of the Lost Tomb de 1982</a> al español.</p>

<p style="text-align: center;"><img src="./assets/22/04/robbers_of_the_lost_tomb.jpg" alt="Robbers of the Lost Tomb" /></p>

<p>El juego consiste en buscar cuatro tablillas sagradas a través de las, muchas, habitaciones de una tumba perdida mientras intentas evitar momias, serpientes y fantasmas.</p>

<p>En cada habitación, se le presentan tres puertas numeradas y tiene la opción de lanzar un cuchillo o moverse a través de una puerta. También se le informará si hay algún peligro cerca.</p>

<p>Si encuentra algún fantasma, lo trasladarán a otra parte de la tumba, pero las momias y las serpientes deben evitarse o arrojarles un cuchillo para matarlas. Antes de la misión, puedes seleccionar tu nivel de habilidad (1-10) y si quieres que las momias se muevan por la tumba. En ciertos niveles de habilidad, puedes decidir cuántos cuchillos llevar y cuántas momias y peligros quieres en la tumba.</p>

<p><a href="https://gitlab.com/salvacam/zx81/-/blob/master/robbers_of_the_lost_tomb/robbersofthelosttomb_es.p">Enlace al juego</a> para su descarga.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
    
  
    
        
    <a class="tags" href="#" data-href="traducciones">traducciones&nbsp;</a>
</span>
