<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Super Shogun</h1>
    <p class="post-meta">
      <time datetime="2022-07-31 00:00:00 +0200" class="post-meta"> 31 de Julio del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dr Beep">Dr Beep</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Versión mejorada de <a href="https://sinclairzxworld.com/viewtopic.php?p=41493#p41493" target="_blank">SHOGUN1K</a> con un nivel extra de dificultad y una opción para jugar contra otra persona.</p>

<p style="text-align: center;"><img src="./assets/22/07/superShogun.png" alt="Super Shogun" /></p>

<p>La versión anterior solo 1 modo de juego que sería el nivel de juego FÁCIL.</p>

<p>Como comenta el autor con optimizaciones fue posible agregar una opción de 2 jugadores y dos niveles de dificultad.</p>

<p>Al iniciar debes elegir el modo de juego, E para fácil, F para jugar con otra persona y H para el nivel difícil.</p>

<p>Hay que presionar la tecla dos veces.</p>

<p>Esto se hace para establecer la aleatoriedad del tablero en el primer bucle.</p>

<p>Los controles son</p>
<ul>
  <li>Q = arriba</li>
  <li>A = abajo</li>
  <li>O = izquierda</li>
  <li>P = derecha</li>
  <li>Z = seleccionar</li>
</ul>

<p><a href="https://sinclairzxworld.com/download/file.php?id=9470" target="_blank">Reglas del juego</a> en ingles.</p>

<p><a href="https://sinclairzxworld.com/viewtopic.php?p=47482#p47482" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>

<p>Actualización 11-12-2022: Añadido caracteres chroma
<a href="https://sinclairzxworld.com/viewtopic.php?f=4&amp;t=4895" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego con caracteres chroma.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
