<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Zeddytron 2081</h1>
    <p class="post-meta">
      <time datetime="2022-04-26 00:00:00 +0200" class="post-meta"> 26 de Abril del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Walter Rissi">Walter Rissi</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Nuevo juego de Naranjito games,<a href="./index.html?post=22-03-07-cursed_catacombs">aquí comente el primero</a>.</p>

<p style="text-align: center;"><img src="./assets/22/04/zeddytron.jpg" alt="Zeddytron 2081" /></p>

<p>De nuevo, por el grupo de facebook <a href="https://www.facebook.com/groups/ZX81OwnersClub/" target="_blank">ZX81 Owners Club</a> ha compartido el usuario Walter su segundo juego para ZX81.</p>

<p>Es una versión del clásico arcade Robotron 2084. Permite moverse y disparar simultáneamente en 8 direcciones. A diferencia del original, debes salvar a todos los humanos antes de pasar al siguiente nivel, además de acabar con todos los zeddytrons.</p>

<p>Hay que resistir 99 oleadas, y cada 5 obtienes una vida extra.</p>

<p style="text-align: center;"><img src="./assets/22/04/zeddytron_instrucciones.jpg" alt="instrucciones" /></p>

<p>Los controles son</p>
<ul>
  <li>W = mover arriba</li>
  <li>S = mover abajo</li>
  <li>A = mover izquierda</li>
  <li>D = mover derecha</li>
  <li>I = disparar arriba</li>
  <li>K = disparar abajo</li>
  <li>J = disparar izquierda</li>
  <li>L = disparar derecha</li>
</ul>

<p><a href="https://drive.google.com/file/d/1NCsWJK6oK6qn40YLtp7rHP0EowvvTHRZ/view?fbclid=IwAR1WidFHbOxKIgWBxS4_GasjY3_neUnbTKU7rJTTPd914Ydbq0MZPz8t2z8" target="_blank">Enlace de descarga</a></p>

<p><strong>Editado el 29-05-2022</strong></p>

<p>El autor ha publicado una nueva versión de <strong>Zeddytron 2081</strong> con los siguientes cambios:</p>
<ul>
  <li>El personaje principal tiene un movimiento un poco más lento, lo que lo hace más fácil de controlar.</li>
  <li>Se incluyó un modo de control OPQAM/Cursor, que permite moverse usando OPQA/Flechas y disparar usando M/0 (al disparar, presione simultáneamente la dirección del disparo y disparará en esa). Soporta 8 direcciones de movimiento/disparo. Si tiene un joystick basado en cursor (por ejemplo, CZ, TK), puede usarlo en este modo. El modo de control anterior (movimiento/disparo simultáneo) sigue siendo compatible.</li>
  <li>Se implementó la compatibilidad con el joystick ZXPand+, aunque aún no se ha probado, es probable que no funcione.</li>
</ul>

<p><a href="https://drive.google.com/drive/folders/1piiSF6yiliQNao1UUreAB_RQ24oylZs3?fbclid=IwAR3MHhfmfLQq_YSkHNyrIz8FEi5Tuo6mamRO4gT3L9kOKbxUM1f_b-QUfH4" target="_blank">Enlace de descarga a la actualización</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
