<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Wordle / Lingo</h1>
    <p class="post-meta">
      <time datetime="2022-03-02 00:00:00 +0100" class="post-meta"> 2 de Marzo del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dr Beep">Dr Beep</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Adaptación del juego <a href="https://www.sinclairzxworld.com/viewtopic.php?p=34024#p34024" target="_blank">Lingo</a> para poder jugar al <strong>Wordle</strong> en el ZX81.</p>

<p style="text-align: center;"><img src="./assets/22/03/wordle.jpg" alt="Wordle / Lingo" /></p>

<p>En tres versiones en inglés, español y holandés, con 250 palabras en cada una. Si echas en falta algún idioma le puedes pedir al autor que lo cree la versión que quieras siempre que le des suficientes palabras en ese idioma.</p>

<p>Al principio debes elegir un número para seleccionar la palabra. Para comenzar se pulsa espacio, y se escribe la palabra de 5 letras, no se puede borrar pero se puede sobreescribir la palabras hasta que se pulsa enter y se analiza la palabra que has ingresado.</p>

<p>Por restricciones de memoria no se comprueba si la palabra es válida. Cuando una letra coincida con la posición, se invierte el color.
Cuando una letra está en la palabra en la posición incorrecta, se mostrará donde la escribió.
Cuando una letra no está en la palabra, se elimina de la entrada y se muestra como un guión.</p>

<p>Si aciertas la palabra, se muestra el número de la siguiente palabra. Si no se adivina en 6 intentos, hay que pulsar espacio para reiniciar la misma palabra.</p>

<p><a href="https://sinclairzxworld.com/download/file.php?id=10891">Enlace de descarga</a></p>

<p><a href="https://sinclairzxworld.com/viewtopic.php?f=6&amp;t=4571" target="_blank">Enlace al foro Sinclair ZX World</a>
donde hay más detalles.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
