<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Lunares Insaneum</h1>
    <p class="post-meta">
      <time datetime="2022-04-28 00:00:00 +0200" class="post-meta"> 28 de Abril del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Jonathan Cauldwell">Jonathan Cauldwell</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Una conversión para ZX81 del juego de ZX Spectrum <a href="https://spectrumcomputing.co.uk/entry/5383/ZX-Spectrum/Transversion" target="_blank">Transversion</a>.</p>

<p style="text-align: center;"><img src="./assets/22/04/lunares.jpg" alt="Lunares Insaneum" /></p>

<p>En el juego manejas una nave a través de los casillas con el símbolo +, debes pasar por todas las casillas con símbolo * para pasar de fase. 
En cada lado de la pantalla hay una nave enemiga desplazándose por su lado, y cuando se pone a tu altura te dispara. Debes evitar que te alcancen sus disparos ya que si te alcanza pierdes una nave, si es un nivel par pasas al siguiente nivel.</p>

<p>Tiene soporte para Chroma y joystick.</p>
<p style="text-align: center;"><img src="./assets/22/04/lunares_chroma.jpg" alt="chroma" /></p>

<p>Los controles son definibles, por defecto los controles del teclado son</p>
<ul>
  <li>2 = arriba</li>
  <li>W = abajo</li>
  <li>9 = izquierda</li>
  <li>0 = derecha</li>
</ul>

<p><a href="https://jonathan-cauldwell.itch.io/lunares-insaneum" target="_blank">Enlace a itchio</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
