<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Ridiculous MemorieZ</h1>
    <p class="post-meta">
      <time datetime="2022-08-25 00:00:00 +0200" class="post-meta"> 25 de Agosto del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="S Anello">S Anello</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Un juego de parejas para ZX81.</p>

<p style="text-align: center;"><img src="./assets/22/08/memoriez.png" alt="Ridiculous MemorieZ" /></p>

<p>Hay que buscar 60 parejas en un tablero de 8 filas y 15 columnas.</p>

<p>Debes de ir indicando la columna (con una letra de la A a la O) y la fila (con un número del 1 al 8) que quieras mostrar. Si en las entradas par no tienes el mismo signo se vuelven a ocultar.</p>

<p>Tarda un poco en generar en colocar los símbolos en el tablero.</p>

<p><a href="https://sinclairzxworld.com/viewtopic.php?p=48127#p48127" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
