<header class="post-header">
    <h1 class="post-title" itemprop="name headline">UR</h1>
    <p class="post-meta">
      <time datetime="2022-05-06 00:00:00 +0200" class="post-meta"> 6 de Mayo del 2022</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Mark Bennett">Mark Bennett</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Una versión de un juego de mesa encontradas en las <a href="https://es.wikipedia.org/wiki/Juego_real_de_Ur" target="_blank">tumbas reales de Ur</a>.</p>

<p style="text-align: center;"><img src="./assets/22/05/ur.jpg" alt="UR" /></p>

<p>El autor intento crear esta versión del juego para ZX Spectum en los años 80, pero nunca lo termino. Ahora se ha desquitado, y ha creado versiones para Altair 8800, ZX Spectrum, ZX81, QL y Z88. Programado en Basic.</p>

<p>El juego es una carrera para dos jugadores para conseguir las siete fichas de un extremo al otro del tablero. Se puede jugar con dos jugadores humanos, dos jugadores de computadora o uno de cada uno.</p>

<p>Debes seleccionar si los jugadores los maneja un humano, con H, o el ordenador, con C.</p>

<p><a href="https://github.com/mark-bennett-uk/ur/raw/main/The%20Royal%20Game%20or%20UR%20Rules.pdf" target="_blank">Instrucciones</a></p>

<p><a href="https://github.com/mark-bennett-uk/ur" target="_blank">Repositorio de github</a> donde esta el código y los binarios de todas las versiones.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
