<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Big Baps</h1>
  <p class="post-meta">
    <time datetime="2022-09-01 00:00:00 +0200" class="post-meta"> 1 de Septiembre del 2022</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Jonathan Cauldwell">Jonathan Cauldwell</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Burger Time para ZX81.</p>

  <p style="text-align: center;"><img src="./assets/22/09/BigBaps.png" alt="Big Baps" /></p>

  <p>Como en el arcade original debemos dejar caer las partes de las hamburguesas hacia sus bandejas pasando sobre ellas, mientras evitamos a los enemigos que se mueven por el escenario. Hasta que hayamos completado todas las hamburguesas del nivel.</p>

  <p>Los escenarios son unas escaleras y plataformas sobre las que están las capas de las hamburguesas (pan, queso y carne). El juego tiene scroll vertical.</p>

  <p>En esta versión no disponemos de pimienta para aturdir a los enemigos. Pero si podemos matar a los enemigos haciendo caer sobre ellos una parte de la hamburguesa, aunque solo temporalmente, pasados unos segundos vuelven a parecer por la parte inferior de la pantalla.</p>

  <p>Existen dos niveles de dificultad, que se puede seleccionar al iniciar la partida.</p>

  <p>Los controles son definibles, por defecto los controles del teclado son</p>
  <ul>
    <li>2 = arriba</li>
    <li>W = abajo</li>
    <li>9 = izquierda</li>
    <li>0 = derecha</li>
    <li>h = pausa</li>
  </ul>

  <p>El juego es compatible con el interfaz Chroma, y expansión de caracteres QS. Es necesaria una expansión de 16K.</p>

  <p style="text-align: center;"><img src="./assets/22/09/bigBaps_chroma.png" alt="chroma81" /></p>

  <p>El juego puede ser comprado en la <a href="https://cronosoft.fwscart.com/" target="_blank">web de Cronosoft</a> en <a href="https://cronosoft.fwscart.com/product/big-baps---sinclair-zx81" target="_blank">formato físico</a> por 7 libras (más gastos de envío) o en <a href="https://cronosoft.fwscart.com/ZX81_DIGITAL_VERSION_for_emulator/p5357732_21597228.aspx" target="_blank">formato digital</a>  por 1,99 libras.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
