<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Even-Tree</h1>
  <p class="post-meta">
    <time datetime="2022-12-24 00:00:00 +0100" class="post-meta"> 24 de Diciembre del 2022</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Math123">Math123</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Decoras tu árbol de navidad contra tu ZX81.</p>

  <p style="text-align: center;"><img src="./assets/22/12/evenTree.png" alt="Even-Tree" /></p>

  <p>Hay 27 bolas de navidad para repartir entre tu árbol y el del ZX81. Por turnos, se eligen de 1 a 4 bolas y se ponen en el árbol.
  Cuando terminan de coger las bolas, el juego termina, y gana el que tenga un número par de bolas en su árbol.</p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=49497#p49497" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
