<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Abduxion</h1>
  <p class="post-meta">
    <time datetime="2022-10-05 00:00:00 +0200" class="post-meta"> 5 de Octubre del 2022</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Jonathan Cauldwell">Jonathan Cauldwell</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Un clon de <a href="https://es.wikipedia.org/wiki/Defender_(videojuego)" target="_blank">Defender</a> para nuestros ZX81.</p>

  <p style="text-align: center;"><img src="./assets/22/10/Abduxion.png" alt="Abduxion" /></p>

  <p>Como en el juego original debes eliminar a las oleadas de extraterrestres y proteger a los astronautas que están en el suelo. Los extraterrestres pueden abducir a los astronautas, tienes que ser rápido en acabar el extraterrestre que está abduciendo, porque una vez que llegue arriba no volverá el astronauta. Una vez explotada el extraterrestre puedes rescatar a los astronautas antes de que choquen contra el suelo y dejarlo en la superficie. Cuanto más astronautas permanezcan vivos cuando termines con todas los extraterrestres mayor bonus de puntos tendrás.</p>

  <p>Puedes moverte hacia la izquierda o derecha. Para cambiar de sentido hay que pulsar hacia el lado que quieres ir, si lo pulsas una sola vez sigues hacia el mismo sentido, pero tu nave se dará la vuelta.</p>

  <p>Empiezas con 5 vidas, pierdes una vida al chocar con un extraterrestre.</p>

  <p>Si todos los astronautas de un nivel son abducidos, el planeta desaparece y el nivel se llena de extraterrestres. Si eliminas la oleada de extraterrestres, el planeta vuelve a aparecer.</p>

  <p>Los controles son definibles, por defecto los controles del teclado son</p>
  <ul>
    <li>2 = arriba</li>
    <li>W = abajo</li>
    <li>9 = izquierda</li>
    <li>0 = derecha</li>
    <li>m = disparo</li>
    <li>z = hiperspacio</li>
    <li>h = pausa</li>
  </ul>

  <p>El juego puede ser comprado en la <a href="https://cronosoft.fwscart.com/" target="_blank">web de Cronosoft</a> junto con el juego <a href="./index.html?post=21-11-07-zedipede">Zedipede</a> en <a href="https://cronosoft.fwscart.com/ABDUXION+ZEDIPEDE_=_Sinclair_ZX81_16K_Cassette/p5357732_21581989.aspx" target="_blank">formato físico</a> por 7 libras (más gastos de envío) o en <a href="https://cronosoft.fwscart.com/ZX81_DIGITAL_VERSION_for_emulator/p5357732_21597228.aspx" target="_blank">formato digital</a>  por 1,99 libras.</p>
</div>
  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
