<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Guntus</h1>
  <p class="post-meta">
    <time datetime="2022-11-07 00:00:00 +0100" class="post-meta"> 7 de Noviembre del 2022</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Inufuto">Inufuto</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Un juego de nave del estilo de Galaga.</p>

  <p style="text-align: center;"><img src="./assets/22/11/Guntus.png" alt="Guntus" /></p>

  <p>Controla una nave que debe eliminar a todos las naves enemigas, evitando los disparos enemigos y colisionar con las naves enemigas. Las naves enemigas no aparecen inmediatamente. Van aparecien haciendo piruetas para después tomar un lugar en una formación. Cuando las naves enemigas están en formación no colisionas con ellas.</p>

  <p>Algunas naves enemigas dejan una vida extra cuando acabas con ellas.</p>

  <p>Podéis ver el juego en un vídeo que han subido el autor
  <a href="https://www.youtube.com/watch?v=XORZ5JHylhs" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/XORZ5JHylhs/0.jpg'"> </a></p>

  <p>Los controles son las siguiente teclas</p>
  <ul>
    <li>Q = arriba</li>
    <li>A = abajo</li>
    <li>O = izquierda</li>
    <li>P = derecha</li>
    <li>Espacio = disparar</li>
    <li>Espacio o Enter = empezar partida</li>
  </ul>

  <p><a href="http://inufuto.web.fc2.com/8bit/guntus/#zx81" target="_blank">Enlace a la web del autor</a> donde puedes descargar el juego en formato P o wav para cargar en una máquina real.</p>

  <p>Además tiene el juego para muchos otros sistemas.</p>

  <p><a href="http://inufuto.web.fc2.com/8bit/zx81/guntus.p" title="download" target="_blank">Enlace directo al juego</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
