<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Retro GAMEDEV 2022</h1>
  <p class="post-meta">
    <time datetime="2022-11-06 00:00:00 +0100" class="post-meta"> 6 de Noviembre del 2022</time>
  </p>
</header>

<div class="post-content" itemprop="articleBody">
  <p>Presentados 2 juegos para ZX81 en la 1ª edición del concurso <a href="http://retrogamedev2022.espaciotec.com.ar/" target="_blank">Retro GAMEDEV 2022</a>.</p>

  <p style="text-align: center;"><img src="./assets/22/11/retroGameDev.png" alt="Retro GAMEDEV 2022" /></p>

  <p>El museo Espacio TEC de Argentina ha organizado un concurso de programación de juegos para plataformas retro.</p>

  <p>El concurso tenía dos 2 categorías:</p>

  <ul>
    <li>
      <p>Programación en BASIC, los juegos tenían que ser exclusivamente en BASIC,</p>
    </li>
    <li>
      <p>Programación libre.</p>
    </li>
  </ul>

  <p>En las dos categorías que se permitía participar con juegos para ZX81.</p>

  <p>Se han presentado 2 juegos en esta edición para el ZX81, los dos en la categoría libre</p>

  <ul>
    <li>
      <p><strong>‘Escape from Tokat dungeon’</strong> de Salvador Camacho. En el juego tienes que coger las tres llaves que hay en cada pantalla e ir a la salida, evitando las trampas y los enemigos. Se puede descargar el juego y el código desde mi <a href="https://salvacam.gitlab.io/" target="_blank">web</a></p>
    </li>
    <li>
      <p><strong>‘Dungeons of Zedd’</strong> de Walter Rissi. Ya comentado <a href="./index.html?post=22-10-02-DungeonsOfZedd">aquí</a>. Se puede descargar el juego en <a href="https://naranjitogames.itch.io/sinclair-zx81-dungeons-of-zedd" target="_blank">itchio</a></p>
    </li>
  </ul>

  <p>Los resultados se han dado a conocer mediante un directo de instagram. Quedando el segundo lugar de la categoría libre el juego <strong>‘Dungeons of Zedd’</strong> de Walter Rissi.</p>
  <p style="text-align: center;"><img src="./assets/22/11/retroGameDev_result.png" alt="Resultados" /></p>
</div>
  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
  <a class="tags" href="#" data-href="concurso">concurso&nbsp;</a>    
</span>
