<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Wall-Run</h1>
  <p class="post-meta">
    <time datetime="2022-12-30 00:00:00 +0100" class="post-meta"> 30 de Diciembre del 2022</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Orac81">Orac81</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Un juego para ZX80 y ZX81, con versión de 1k o 2k.</p>

  <p style="text-align: center;"><img src="./assets/22/12/wallRun.png" alt="Wall-Run" /></p>

  <p>Tienes que controlar tu pared y atrapa al oponente de la computadora. Cuando lo consigues, avanzas al siguiente nivel.
  Tienes que atrapar la computadora dos veces en el nivel 2, 3 veces en el 3, etc.
  Si recoges dólares obtienes puntos, en niveles más altos obtienes más puntos.
  La versión 2k tiene una pantalla más grande, puntuación/puntuación más alta y pantalla de título.</p>

  <p>El número de nivel se muestra en la línea superior e inferior.</p>

  <p>Los controles son:</p>
  <ul>
    <li>W = moverte arriba</li>
    <li>A = moverte izquierda</li>
    <li>D = moverte derecha</li>
    <li>X = moverte abajo</li>
  </ul>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=49540#p49540" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
