<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Dungeons of Zedd</h1>
  <p class="post-meta">
    <time datetime="2022-10-02 00:00:00 +0200" class="post-meta"> 2 de Octubre del 2022</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Walter Rissi">Walter Rissi</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Un juego de mazmorras.</p>

  <p style="text-align: center;"><img src="./assets/22/10/dungeons_of_zedd_beta_2.png" alt="Dungeons of Zedd" /></p>

  <p>El juego consiste en recorrer miles de cámaras y túneles para encontrar 10 reyes calaveras y acabar con ellos.</p>

  <p>La mazmorra cambia cada vez que se juega. Tiene dos modos de control:</p>

  <ul>
    <li>
      <p>usando OPQAM, Cursor o ZXPand Joystick, presiona fuego y una dirección para lanzar un hechizo en esa dirección.</p>
    </li>
    <li>
      <p>usando AWSD/JIKL, puedes moverte y lanzar hechizos en diferentes direcciones al mismo tiempo.</p>
    </li>
  </ul>

  <p>En las mazmorras hay diferentes tipos de enemigos. Tendrás que acabar con ellos para tener aumentar la experiencia, siendo esto necesario para atacar a cada rey calavera. No puedes atacar al rey calavera hasta que hayas ganado el nivel de experiencia requerido, lo que puede tenga hacer que vuelvas a una mazmorra anterior, ya que en la mazmorra donde hay un rey calavera no puedes matar al resto de enemigos.</p>

  <p>Puede encontrar comida, armadura y pociones. Tienes que tener cuidado con las pociones porque algunas son curativas, pero otras reducen tu vida.</p>

  <p>Al matar a todos los enemigos en una mazmorra puede que aparezcan nuevos objetos, pero también reaparecerán todos los enemigos de la mazmorra.</p>

  <p>Podéis ver el juego en un vídeo que han subido el autor
  <a href="https://www.youtube.com/watch?v=SYUzXtxVOUc" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/SYUzXtxVOUc/0.jpg'"> </a></p>

  <p><a href="https://naranjitogames.itch.io/sinclair-zx81-dungeons-of-zedd" target="_blank">Enlace a itchio</a></p>

</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
