<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Fallzone</h1>
  <p class="post-meta">
    <time datetime="2022-12-23 00:00:00 +0100" class="post-meta"> 23 de Diciembre del 2022</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Orac81">Orac81</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Un juego para ZX80 y ZX81, con versión de 1k o 2k.</p>

  <p style="text-align: center;"><img src="./assets/22/12/fallzone.png" alt="Fallzone" /></p>

  <p>Tienes que mover el asterisco y recoger dos dólares, de los tres que hay en pantalla, para pasar al siguiente nivel. Cada vez que te mueven van saliendo minas, que debes evitar, si no pierdes la partida y se reinicia en el primer nivel.
  Si coges un congelador (tienen asignado la letra F) detienes la aparición de nuevas minas durante unos pocos movimientos.
  A medida que avanzas de nivel más minas aparecerán con cada movimiento.</p>

  <p>El número de nivel se muestra en la línea superior e inferior, va del 1 al 9 y de la A a la Z.</p>

  <p>Los controles son:</p>
  <ul>
    <li>Q = moverte arriba e izquierda</li>
    <li>W = moverte arriba</li>
    <li>E = moverte arriba y derecha</li>
    <li>A = moverte izquierda</li>
    <li>D = moverte derecha</li>
    <li>Z = moverte abajo e izquierda</li>
    <li>X = moverte abajo</li>
    <li>C = moverte abajo y derecha</li>
  </ul>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=49483#p49483" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
