<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Superfied Pipe Panic</h1>
  <p class="post-meta">
    <time datetime="2022-10-04 00:00:00 +0200" class="post-meta"> 4 de Octubre del 2022</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Reboot">Reboot</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p><a href="https://www.sinclairzxworld.com/viewtopic.php?f=4&amp;t=339" target="_blank">Juego original de Thunor escrito en el 2010</a></p>

  <p style="text-align: center;"><img src="./assets/22/10/superfiedPipePanic.png" alt="Superfied Pipe Panic" /></p>

  <p>Ahora Reboot le ha agregado soporte de sonido y joystick ZXpand+.</p>

  <p>El juego consisten en unir distintas piezas de tubería para conectar la entrada con la salida antes de que se agote el tiempo y el agua salga de la tubería de salida.</p>

  <p>Los controles son definibles, por defecto son las siguientes teclas</p>
  <ul>
    <li>Q = arriba</li>
    <li>A = abajo</li>
    <li>O = izquierda</li>
    <li>P = derecha</li>
    <li>K = poner tubería</li>
  </ul>

  <p><a href="https://www.sinclairzxworld.com/viewtopic.php?f=11&amp;t=4819" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
