<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Dollar Race y Chase Race</h1>
  <p class="post-meta">
    <time datetime="2022-12-14 00:00:00 +0100" class="post-meta"> 14 de Diciembre del 2022</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Kurt-Arne Johnsen">Kurt-Arne Johnsen</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Dos nuevos juegos que han aparecido en el grupo de facebook <a href="https://www.facebook.com/groups/ZX81OwnersClub/about" target="_blank">ZX81 Owners Club</a></p>

  <p style="text-align: center;"><img src="./assets/22/12/dollarRace.png" alt="Dollar Race y Chase Race" /></p>

  <p><strong>Dollar Race</strong></p>

  <p>Un sencillo juego basado en un programa, Minipede de G. Creasy, en la revista Sinclair Programs en mayo 1983.
  Tienes que ir cogiendo el dinero y evitando chocar con las paredes a medida que vas bajando.</p>

  <p>Los controles son las siguientes teclas:</p>
  <ul>
    <li>O = izquierda</li>
    <li>P = derecha</li>
  </ul>

  <p>El juego está en github en formato p.</p>

  <p><a href="https://github.com/Retronissen/Sinclair-ZX81-Software-in-hounor-for-Sir-Clive" target="_blank">Repositorio de github</a>
  para su descarga.</p>

  <p><a href="https://github.com/Retronissen/Sinclair-ZX81-Software-in-hounor-for-Sir-Clive/blob/main/DollarRace.p?raw=true" target="_blank">Enlace directo</a> al archivo .p</p>

  <p style="text-align: center;"><img src="./assets/22/12/chaseRace.png" alt="Chase Race" /></p>

  <p><strong>Chase Race</strong></p>

  <p>Manejas la H que está en la parte superior de la pantalla y tienes que alcanzar el bloque negro que está en la parte superior de la pantalla. Debes evitar chocar con las paredes, tanto las de los lados como las que van apareciendo en el centro, si coges los dos puntos ganas 10 puntos, si coges un dólar ganas 1 punto y bajas una línea más. Si chocas con una pared pierdes la partida.</p>

  <p>Los controles son las siguientes teclas:</p>
  <ul>
    <li>O = izquierda</li>
    <li>P = derecha</li>
  </ul>

  <p><a href="https://github.com/Retronissen/Sinclair-ZX81-Software-in-hounor-for-Sir-Clive" target="_blank">Repositorio de github</a>
  para su descarga.</p>

  <p><a href="https://github.com/Retronissen/Sinclair-ZX81-Software-in-hounor-for-Sir-Clive/blob/main/ChaseRace.p?raw=true" target="_blank">Enlace directo</a> al archivo .p</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
