<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Resumen del 2022</h1>
    <p class="post-meta">
      <time datetime="2022-12-31 00:00:00 +0100" class="post-meta"> 31 de Diciembre del 2022</time>
    </p>
</header>

<div class="post-content" itemprop="articleBody">
  <p>Durante este año he creado más de 50 post, sobre unos 60 programas (o más), espero que no se ha quedado ninguno sin mostrar, en este post indicaré los programas que más me han gustado a mí, y resumiré los concurso de este año donde se podían presentar programas para el ZX81.</p>

  <p>Además de retocar un poco los estilos he añadido algunas etiquetas más, así como una página de cada autor con todos sus programas que se han comentado, que además de ser accesible desde la barra de etiquetas esta como enlace en cada post del autor.</p>

  <p style="text-align: center;"><img src="./assets/22/12/2022.png" alt="Resumen del 2022" /></p>

  <p>Los programas que deberías perderte de este 2022 son los siguientes.</p>

  <p><a href="https://jonathan-cauldwell.itch.io/lunares-insaneum" target="_blank">Lunares Insaneum</a></p>

  <p><a href="https://naranjitogames.itch.io/zeddytron-2018" target="_blank">Zeddytron 2081</a></p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=49480#p49480" target="_blank">Battlezxone</a></p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=46710#p46710" target="_blank">Loderunner</a></p>

  <p><a href="https://cronosoft.fwscart.com/product/zx81-16k--zedi-blast-cassette-tape" target="_blank">Zedi Blaster</a></p>

  <p><a href="http://inufuto.web.fc2.com/8bit/zx81/cacorm.p" target="_blank">Cacorm</a></p>

  <p><a href="https://salvacam.gitlab.io/" target="_blank">Escape from Tokat dungeon</a></p>

  <p><a href="http://inufuto.web.fc2.com/8bit/zx81/guntus.p" target="_blank">Guntus</a></p>

  <p><a href="https://cronosoft.fwscart.com/product/big-baps---sinclair-zx81" target="_blank">Big Baps</a></p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=49297&amp;sid=310e55c205860675d90e16fc1d963655#p49297" target="_blank">Jackpot</a></p>

  <p>Este es mi selección personal, lo más recomendable es que veas todos los juegos que se han lanzado durante este año 2022.</p>

  <p><br />
  <br /></p>

  <p><a href="#concursos" id="concursos"><strong>Concursos</strong></a></p>

  <p>Los concursos en los que ha tenido presencia el ZX81 durante el 2022 han sido los siguientes.</p>

  <ul>
    <li><a href="https://www.homeputerium.de/" target="_blank">BASIC 10Liner</a></li>
  </ul>

  <p>Un concurso en el que se presentan programas en Basic de un máximo de 10 líneas, con cuatro categorías según la longitud de las líneas. De este concurso hay una <a href="./index.html?post=22-04-10-10lineas">entrada en el blog.</a></p>

  <p>Se presentaron 5 juegos para el ZX81:</p>

  <ul>
    <li class="emptyList">
      <ul>
        <li>
          <p><a href="https://bunsen.itch.io/zoltar-knows-all-by-brian-handova" target="_blank">ZOLTAR (Knows All) de Brian Handova.</a> Pregunta sobre tu futuro a Zoltar y después pulsa enter.</p>
        </li>
        <li>
          <p><a href="https://bunsen.itch.io/plotglider-by-dr-beep" target="_blank">Pixelglider de Dr Beep.</a> Tienes que mantener el pixel en pantalla el máximo tiempo posible</p>
        </li>
        <li>
          <p><a href="https://bunsen.itch.io/jamgame-by-marcos-retrobits" target="_blank">JAMGame de Marco’s Retrobits</a> Un juego de memoria inspirado en Simon.</p>
        </li>
        <li>
          <p><a href="https://bunsen.itch.io/polarion-by-salvador-camacho" target="_blank">Polarion de Salvador Camacho</a> Tienes que evitar caer en los huecos que se irán formando.</p>
        </li>
        <li>
          <p><a href="https://bunsen.itch.io/81sketch-by-salvador-camacho" target="_blank">81sketch de Salvador Camacho</a> Un telesketch, puedes pintar o borrar.
  <br /></p>
        </li>
      </ul>
    </li>
    <li><a href="http://retrogamedev2022.espaciotec.com.ar/" target="_blank">Retro GAMEDEV 2022</a></li>
  </ul>

  <p>El museo Espacio TEC de Argentina organizo un concurso de programación de juegos para plataformas retro, donde se podían presentar juegos para ZX81. De este concurso hay una <a href="./index.html?post=22-04-10-10lineas">entrada en el blog.</a></p>

  <p>Se presentaron 2 juegos para el ZX81:</p>

  <ul>
    <li class="emptyList">
      <ul>
        <li>
          <p><strong>‘Escape from Tokat dungeon’</strong> de Salvador Camacho. Se puede descargar el juego y el código desde mi <a href="https://salvacam.gitlab.io/" target="_blank">web</a></p>
        </li>
        <li>
          <p><strong>‘Dungeons of Zedd’</strong> de Walter Rissi, comentado <a href="./index.html?post=22-10-02-DungeonsOfZedd">aquí</a>. Se puede descargar el juego en <a href="https://naranjitogames.itch.io/sinclair-zx81-dungeons-of-zedd" target="_blank">itchio</a></p>
        </li>
      </ul>
    </li>
  </ul>

  <p><br /></p>

  <ul>
    <li><a href="http://crapgamescompetition2022.great-site.net/" target="_blank">Crap Games</a></li>
  </ul>

  <p>En esta edición del concurso se presentaron 4 para ZX81, de este concurso hay una <a href="./index.html?post=22-12-30-crap2022">entrada en el blog.</a></p>

  <p>Los juegos presentados para ZX81 fueron:</p>

  <ul>
    <li class="emptyList">
      <ul>
        <li><a href="http://crapgamescompetition2022.great-site.net/2022/03/18/10-polarion-redux/" target="_blank">Polarion Redux</a></li>
        <li><a href="http://crapgamescompetition2022.great-site.net/2022/03/18/11-umul-gonu/" target="_blank">Umul Gonu</a></li>
        <li><a href="http://crapgamescompetition2022.great-site.net/2022/05/31/22-gold-standard/" target="_blank">Gold Standard</a></li>
        <li><a href="http://crapgamescompetition2022.great-site.net/2022/09/03/34-advanced-horseshoe-magnet-simulator-kempston-edition/" target="_blank">Advanced Horseshoe Magnet Simulator – Kempston Edition</a></li>
      </ul>
    </li>
  </ul>

  <p><br /></p>

  <ul>
    <li><a href="https://logiker.com/Vintage-Computing-Christmas-Challenge-2022" target="_blank">Vintage Computing Christmas Challenge 2022</a></li>
  </ul>

  <p>Un pequeño concurso donde se tenía que crear una estrella de navidad. Se han presentado 3 programas para ZX81.</p>

  <p>Los programas presentados para ZX81 fueron:</p>

  <ul>
    <li class="emptyList">
      <ul>
        <li><a href="https://demozoo.org/productions/316773/" target="_blank">Christmas Star (ZX81/Z80 Assembler) de Dr. BEEP</a></li>
        <li><a href="https://demozoo.org/productions/316842/" target="_blank">Christmas Star (ZX81/Assembly) de LaszloNickmann</a></li>
        <li><a href="https://demozoo.org/productions/316966/" target="_blank">Christmas Star (Sinclair ZX81/BASIC) de Marco’s Retrobits</a></li>
      </ul>
    </li>
  </ul>

  <p>El ganador del concurso ha sido el programa para ZX81 presentado por Dr.Beep, en <a href="https://demozoo.org/parties/4578/" target="_blank">esta web</a> puedes consultar los resultados</p>

  <p>Este <a href="https://www.reids4fun.com/537/building-a-star-for-a-vintage-computer" target="_blank">programa</a> no estuvo acabado a tiempo para entrar en el concurso, pero el autor lo ha compartido en su web.</p>

  <p><br /></p>

  <p>Nos leemos en el 2023.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
    <a class="tags" href="#" data-href="concurso">concurso&nbsp;</a>
  </span>
