<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Jackpot</h1>
  <p class="post-meta">
    <time datetime="2022-11-16 00:00:00 +0100" class="post-meta"> 16 de Noviembre del 2022</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Richard Turnnidge">Richard Turnnidge</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Una máquina tragaperras para el ZX81.</p>

  <p style="text-align: center;"><img src="./assets/22/11/Jackpot.png" alt="Jackpot" /></p>

  <p>Primer juego del autor en ensamblador. Las instrucciones necesarias se van mostrando en pantalla.
  Empiezas con 10 libras. Cada giro cuesta 1 libras. Cuando pierdes todo el dinero termina la partida.
  Si superas las 99 libras, ganas.</p>

  <p>Con cualquier par ganas 2 libras. Con un trío ganas 6 libras. Por cada “BAR” ganas una libra.</p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=49297&amp;sid=310e55c205860675d90e16fc1d963655#p49297" target="_blank">Enlace al foro Sinclair ZX World</a> o al <a href="https://github.com/richardturnnidge/ZX81_Jackpot/tree/main/p_files" target="_blank">repositorio de github</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
