<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Battle81</h1>
  <p class="post-meta">
    <time datetime="2022-12-11 00:00:00 +0100" class="post-meta"> 11 de Diciembre del 2022</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Kurt-Arne Johnsen">Kurt-Arne Johnsen</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Un nuevo juego de estrategia compartido en el grupo de facebook <a href="https://www.facebook.com/groups/ZX81OwnersClub/about" target="_blank">ZX81 Owners Club</a></p>

  <p style="text-align: center;"><img src="./assets/22/12/battle81.png" alt="Battle81" /></p>

  <p>Debes defender tu país de la invasión por tierra, mar y aire del enemigo.</p>

  <p>Los controles son las siguientes teclas</p>
  <ul>
    <li>W = arriba</li>
    <li>X = abajo</li>
    <li>A = izquierda</li>
    <li>D = derecha</li>
    <li>F = atacar</li>
  </ul>

  <p>El juego está en github en formato p.</p>

  <p><a href="https://github.com/Retronissen/Sinclair-ZX81-Software-in-hounor-for-Sir-Clive" target="_blank">Repositorio de github</a>
  para su descarga.</p>

  <p><a href="https://github.com/Retronissen/Sinclair-ZX81-Software-in-hounor-for-Sir-Clive/blob/40cf402c6ae52034768f933b4d55fd4d738e2f73/battle81.p?raw=true" target="_blank">Enlace directo</a> al archivo .p</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
</span>
