<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Crap Games 2022</h1>
  <p class="post-meta">
    <time datetime="2022-12-30 00:00:00 +0100" class="post-meta"> 30 de Diciembre del 2022</time>
  </p>
</header>

<div class="post-content" itemprop="articleBody">
  <p>Este año ha habido 4 juegos para ZX81 presentados en el concurso Crap Games</p>

  <p style="text-align: center;"><img src="./assets/22/12/crap2022.png" alt="Crap Games 2022" /></p>

  <p>En esta edición de este concurso hemos tenido un total de 36 entradas, de las cuales 4 han sido programas para ZX81.</p>

  <p>A continuación enlazo a la revisión del organizador del concurso.</p>

  <p>Los juegos presentados para ZX81 son:</p>

  <ul>
    <li><a href="http://crapgamescompetition2022.great-site.net/2022/03/18/10-polarion-redux/" target="_blank">Polarion Redux</a></li>
    <li><a href="http://crapgamescompetition2022.great-site.net/2022/03/18/11-umul-gonu/" target="_blank">Umul Gonu</a></li>
    <li><a href="http://crapgamescompetition2022.great-site.net/2022/05/31/22-gold-standard/" target="_blank">Gold Standard</a></li>
    <li><a href="http://crapgamescompetition2022.great-site.net/2022/09/03/34-advanced-horseshoe-magnet-simulator-kempston-edition/" target="_blank">Advanced Horseshoe Magnet Simulator – Kempston Edition</a></li>
  </ul>

  <p>Para el clon de ZX81, Lambda 8300, se ha presentado dos juegos.</p>
  <ul>
    <li><a href="http://crapgamescompetition2022.great-site.net/2022/04/04/13-grumphers/" target="_blank">Grumphers</a></li>
    <li><a href="http://crapgamescompetition2022.great-site.net/2022/04/09/14-rubik-code/" target="_blank">Rubik Code</a></li>
  </ul>

  <p>Para ZX80 se ha presentado un juego.</p>
  <ul>
    <li><a href="http://crapgamescompetition2022.great-site.net/2022/01/23/02-zx80-boggle/" target="_blank">ZX80 Boggle</a></li>
  </ul>

  <!-- TODO 36  modificar imagen si vienen más juegos -->

  <p><a href="http://crapgamescompetition2022.great-site.net/" target="_blank">Enlace al concurso</a></p>
</div>
  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2022">2022&nbsp;</a>
  <a class="tags" href="#" data-href="concurso">concurso&nbsp;</a>    
</span>
