<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Super Programs 10</h1>
  <p class="post-meta">
    <time datetime="2023-07-17 00:00:00 +0200" class="post-meta"> 17 de Julio del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dr Beep">Dr Beep</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p>10 juegos en casete para ZX81 sin expansión de memoria.</p>

  <p style="text-align: center;"><img src="./assets/23/07/superPrograms10.png" alt="Super Programs 10" /></p>

  <ul>
    <li>
      <p><strong>TENNIS</strong>, ya comentado <a href="./index.html?post=23-02-03-10=-(TENNIS)">aquí</a></p>
    </li>
    <li>
      <p><strong>CUBE GLIDER</strong>, un cubo de hielo se mueve por la pantalla. Debes mantenerlo en la pantalla el máximo tiempo posible. Se mueve más rápido cuanto más se presione una tecla. Las teclas se definen al inicio, Newline para comenzar.</p>
    </li>
    <li>
      <p><strong>SUPER SHOGUN</strong>, ya comentado <a href="./index.html?post=22-07-31-superShogun">aquí</a></p>
    </li>
    <li>
      <p><strong>NUMBER DRAW</strong>, comienzas a jugar pulsando NEWLINE. El cursor se mueve con QAOP, con Z marcas un campo lleno, con M marcas un campo en blanco.</p>
    </li>
    <li>
      <p><strong>BLOW UP BALLOONS</strong>, un clon de “Eric and the Floaters” (Bomberman). Las teclas se definen al inicio, Newline para comenzar.</p>
    </li>
    <li>
      <p><strong>BOUNCING DOTS</strong>, ya comentado <a href="./index.html?post=23-02-06-BouncingDots">aquí</a></p>
    </li>
    <li>
      <p><strong>DROPZONE</strong>, Tienes que cavar hoyos para que caigan los enemigos por ellos. Por cada agujero que cae un enemigo decrece un número, cuando car un enemigo con el número 1 muere. Las teclas se definen al inicio, Newline para comenzar.</p>
    </li>
    <li>
      <p><strong>K-MAN</strong>, un pacman en 1K, solo le falta la fruta de bonificación. Las teclas se definen al inicio, Newline para comenzar.</p>
    </li>
    <li>
      <p><strong>JUMPING JACK</strong>, debes llegar a la parte superior de la pantalla antes de que se acabe el tiempo. Debes evitar caer por los agujeros y los enemigos. Puedes caminar de un extremo a otra de la pantalla. Los controles del juego son: Q = saltar, O = izquierda, P = derecha, NEWLINE = empezar partida.</p>
    </li>
    <li>
      <p><strong>LADYBUG</strong>, una versión del arcade en 1k. Recoge toda la comida, evitando a las arañas. Puedes mover paredes. Los controles del juego son: Q = arriba, A = abajo, O = izquierda, P = derecha, NEWLINE = empezar partida.</p>
    </li>
  </ul>

  <p><a href="https://www.youtube.com/watch?v=OrnDualjrWw" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/OrnDualjrWw/0.jpg'"> </a></p>

  <p>El casete puede ser comprado en la web de Cronosoft en <a href="https://cronosoft.fwscart.com/product/super-programs-10-sinclair-zx81-1k-ram-cassette" target="_blank">formato físico</a> o en <a href="https://cronosoft.fwscart.com/ZX81_DIGITAL_VERSION_for_emulator/p5357732_21597228.aspx" target="_blank">formato digital.</a></p>
</div>

Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
