<header class="post-header">
    <h1 class="post-title" itemprop="name headline">Gold Maze</h1>
    <p class="post-meta">
      <time datetime="2023-07-15 00:00:00 +0200" class="post-meta"> 15 de Julio del 2023</time>
    </p>
  </header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dancresp">Dancresp</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p>Un nuevo juego de 1K.</p>

<p style="text-align: center;"><img src="./assets/23/07/GoldMaze.png" alt="Gold Maze" /></p>

<p>Tienes que coger el saco de dinero de cada laberinto.
Hay 5 laberintos jugables, y uno más sin solución para indicar que es el final del juego (esto es debido al límite de memoria).</p>

<p>Los controles son las siguientes teclas:</p>
<ul>
  <li>7 = arriba</li>
  <li>6 = abajo</li>
  <li>5 = izquierda</li>
  <li>8 = derecha</li>
</ul>

<p><a href="https://www.youtube.com/watch?v=DURo5-XQPXI" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/DURo5-XQPXI/0.jpg'"> </a></p>

<p><a href="http://www.retrowiki.es/viewtopic.php?f=99&amp;t=200039491" target="_blank">Enlace al foro Retrowiki</a> para descarga el juego y más información sobre el juego y el código.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
