<header class="post-header">
  <h1 class="post-title" itemprop="name headline">CUBICMAZE</h1>
  <p class="post-meta">
    <time datetime="2023-03-01 00:00:00 +0100" class="post-meta"> 1 de Marzo del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dr Beep">Dr Beep</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p>Un nuevo juego de un 1K</p>

  <p style="text-align: center;"><img src="./assets/23/03/Cubicmaze.png" alt="CUBICMAZE" /></p>

  <p>Cuando empiezas un nuevo laberinto tienes que visitar todas las zonas de ese cubo para resolver el cubo.</p>

  <p>En una “U” puedes subir un piso. 
  En una “D” puedes bajar un piso. 
  En una “H”, escalera, puedes subir y bajar.</p>

  <p>En el lado se muestra el piso en el que estás.
  En la parte inferior izquierda, se muestran las coordenadas en la que te encuentras. 
  En la parte inferior derecha se ve el número de zonas que aún no has visitado.</p>

  <p>Los controles se muestran al cargar el juego. Se puede redefinir las teclas pulsando Y al cargar el juego.
  Si pulsa cualquier otra tecla se inicia el juego.</p>

  <p>El juego empieza con un laberinto de 1x1x1. Hay que pulsar la tecla salida (X si no has redefinido otra) para terminar este laberinto. Ahora puedes seleccionar un nuevo laberinto pulsando del 1 al 6.</p>

  <p>1 para un laberinto de 1x1x1 (1 zona)</p>

  <p>2 para un laberinto de 2x2x2 (8 zonas)</p>

  <p>3 para un laberinto de 3x3x3 (27 zonas)</p>

  <p>4 para un laberinto 4x4x4 (64 zonas)</p>

  <p>5 para un laberinto de 5x5x5 (125 zonas)</p>

  <p>6 para un laberinto de 6x6x6 (216 zonas)</p>

  <p>Cuando salga del laberinto después de visitar todos los campos, el juego mostrará SOLVED y podrás seleccionar un nuevo laberinto.</p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=50161#p50161" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
