<header class="post-header">
  <h1 class="post-title" itemprop="name headline">LUNAPARK 81</h1>
  <p class="post-meta">
    <time datetime="2023-06-18 00:00:00 +0200" class="post-meta"> 18 de Junio del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dr Beep">Dr Beep</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Crea tu propio parque temático en tu ZX81, ¡en solo 1K!</p>

  <p style="text-align: center;"><img src="./assets/23/06/lunapark81.png" alt="LUNAPARK 81" /></p>

  <p>Has comprado un terreno y quieres construir un parque temático.
  No te queda mucho dinero para el parque, solo tienes para poner una atracción de las más baratas, por suerte no tiene coste poner los paseos. Tendrás que expandir tu parque con el dinero que ganes.</p>

  <p>20 visitantes pasarán caminando y algunos entrarán al parque. Durante 5 minutos (300 segundos) tienes tiempo para construir un parque y dejar que los visitantes utilizar los paseos.</p>

  <p>Controlas el cursor sobre el área del parque y puedes colocar paseos y atracciones siempre que tengas suficiente dinero.</p>

  <p>Después de 5 minutos se realiza un control de que cada visitante ha realizado todos los paseos.
  Por cada visitante que realice todas las atracciones obtendrás 100 puntos extra.</p>

  <p>Los controles para mover el cursor son las siguientes teclas:</p>
  <ul>
    <li>Q = arriba</li>
    <li>A = abajo</li>
    <li>O = izquierda</li>
    <li>P = derecha</li>
  </ul>

  <p>Para poner elementos son las siguientes teclas:</p>
  <ul>
    <li>T para poner Paseo</li>
    <li>L para poner Espejos de risa</li>
    <li>S para poner Balancín</li>
    <li>M para poner Laberinto</li>
    <li>B para poner Coches de choques</li>
    <li>W para poner Pista de agua salvaje</li>
    <li>R para poner Montaña rusa</li>
    <li>F para poner Rueda de la fortuna</li>
  </ul>

  <p>Hay un hilo en el foro Sinclair ZX World sobre <a href="https://sinclairzxworld.com/viewtopic.php?f=6&amp;t=5108" target="_blank">su desarrollo</a></p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=51413#p51413" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego. 
  Hay una <a href="https://sinclairzxworld.com/viewtopic.php?p=51456#p51456" target="_blank">actualización</a> que se mueven los visitantes de uno a uno, antes era de dos en dos.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
