<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Tricdel</h1>
  <p class="post-meta">
    <time datetime="2023-02-15 00:00:00 +0100" class="post-meta"> 15 de Febrero del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dr Beep">Dr Beep</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Un homenaje a <a href="https://spectrumcomputing.co.uk/list?label_id=2202" target="_blank">Carlo Delhez</a>, de Johan “Dr Beep” Koelman</p>

  <p style="text-align: center;"><img src="./assets/23/02/Tricdel.png" alt="Tricdel" /></p>

  <p>Es una versión del juego GRAFFITY, de Carlo Delhez, en 1k.</p>

  <p>En este juego eres un grafitero (“C”).
  Debe pintar alrededor de cada bloque para marcar el bloque con una estrella.
  Todos los bloques necesitan una estrella antes de que acabe el tiempo. Los limpiadores están limpiando lo que pintas.</p>

  <p>El juego tiene 12 niveles.</p>

  <p>Los limpiadores (“X”) solo limpian lo que pintas.</p>

  <p>La policía (“P”) además de limpiar también te enviará a la cárcel, con lo que pierdes una vida.</p>

  <p>Un pincel (“O”) borrará los bloques. Tendrás que volver a pintar el bloque cuando el pincel haya borrado la estrella.</p>

  <p>Reinicias un nivel cuando se acaba el tiempo.</p>

  <p>Los controles son las siguientes teclas:</p>
  <ul>
    <li>Q = arriba</li>
    <li>A = abajo</li>
    <li>O = izquierda</li>
    <li>P = derecha</li>
    <li>Enter = nuevo juego</li>
  </ul>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=49985#p49985" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=50796#p50796" target="_blank">Update del juego</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
