<header class="post-header">
  <h1 class="post-title" itemprop="name headline">10= (TENNIS)</h1>
  <p class="post-meta">
    <time datetime="2023-02-03 00:00:00 +0100" class="post-meta"> 3 de Febrero del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dr Beep">Dr Beep</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Un juego de tenis 1K.</p>

  <p style="text-align: center;"><img src="./assets/23/02/10=.png" alt="10= (TENNIS)" /></p>

  <p>10= es un juego de tenis, solo puedes jugar contra el ordenador. La vista del juego no es cenital, como en PONG, sino que es lateral.</p>

  <p>Tienes que ganar 4 rondas para completar el juego. Para ganar una ronda necesitas 10 puntos.
  El ordenador jugará mejor cada vez que se termine una ronda.
  Saca la pelota el jugador que no ha conseguido el punto.</p>

  <p>Al inicio del juego saca primero el jugador. En las siguientes rondas saca primero quien perdió la ronda.</p>

  <p>Para sacar tienes que estar el lado izquierdo del campo. Lanza una bola con Z. Espera a que la bola caiga y saca la bola con Q.</p>

  <p>Los controles son las siguientes teclas:</p>
  <ul>
    <li>Q = devolución dura</li>
    <li>A = devolución suave</li>
    <li>Z = sacar</li>
    <li>O = izquierda</li>
    <li>P = derecha</li>
    <li>Enter = nuevo juego</li>
  </ul>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=49668#p49668" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego</p>

  <p><a href="https://www.sinclairzxworld.com/viewtopic.php?f=6&amp;t=4775" target="_blank">Enlace al foro Sinclair ZX World</a> donde el autor explica el proceso de creación.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
