<header class="post-header">
  <h1 class="post-title" itemprop="name headline">K-Helmet</h1>
  <p class="post-meta">
    <time datetime="2023-09-18 00:00:00 +0200" class="post-meta"> 18 de Septiembre del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dancresp">Dancresp</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>La Game&amp;Watch de Nintendo “Helmet” para el ZX-81 en 1K</p>

  <p style="text-align: center;"><img src="./assets/23/09/K-Helmet.png" alt="K-Helmet" /></p>

  <p>Debes atravesar el patio que separa el edificio de la caseta, evitando la lluvia de herramientas.
  Si te golpea uno de las herramientas finaliza el juego y se muestra la puntuación.</p>

  <p>Las cinco columnas de herramientas se van moviendo alternativamente, y la puerta de la caseta se va abriendo y cerrando cada cierto tiempo. Si la puerta está cerrada no podrá entrar.</p>

  <p>Se consiguen 5 puntos cada vez que entras en la caseta.</p>

  <p>Los controles son las siguientes teclas:</p>
  <ul>
    <li>5 = izquierda</li>
    <li>8 = derecha</li>
  </ul>

  <p><a href="http://www.retrowiki.es/viewtopic.php?f=99&amp;t=200039698" target="_blank">Enlace al foro Retrowiki</a> para descarga el juego y más información sobre el juego y el código.</p>

</div>
  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
