<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Bouncing Dots</h1>
  <p class="post-meta">
    <time datetime="2023-02-06 00:00:00 +0100" class="post-meta"> 6 de Febrero del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dr Beep">Dr Beep</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Otro juego de 1K de Johan “Dr Beep” Koelman</p>

  <p style="text-align: center;"><img src="./assets/23/02/BounceDot.png" alt="Bouncing Dots" /></p>

  <p>Un juego en el que debes capturar 12 puntos en movimiento en una pantalla.
  El menor tiempo es el que se mantiene como el mejor tiempo.</p>

  <p>Los controles son las siguientes teclas:</p>
  <ul>
    <li>Q = arriba</li>
    <li>A = abajo</li>
    <li>O = izquierda</li>
    <li>P = derecha</li>
    <li>Enter = nuevo juego</li>
  </ul>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=49692#p49692" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
