<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Cracky</h1>
  <p class="post-meta">
    <time datetime="2023-03-27 00:00:00 +0200" class="post-meta"> 27 de Marzo del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Inufuto">Inufuto</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
    <p style="text-align: center;"><img src="./assets/23/03/cracky.png" alt="Cracky" /></p>

<p>Debes recoger todos los aros evitando los enemigos y antes de que acabe el tiempo, si no quieres perder una vida, para pasar a la siguiente fase.</p>

<p>Los suelos en mal estado se rompen cuando pasas por encima de ellos, por lo que sólo puedes pasar una vez. Cuando pasan los enemigos no se rompen.</p>

<p>Podéis ver el juego en un vídeo que han subido el autor
<a href="https://www.youtube.com/watch?v=kM6kxjhBNV8" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/kM6kxjhBNV8/0.jpg'"> </a></p>

<p>Los controles son:</p>
<ul>
  <li>Q = arriba</li>
  <li>A = abajo</li>
  <li>O = izquierda</li>
  <li>P = derecha</li>
  <li>Espacio = empezar partida en la fase 1</li>
  <li>Enter = empezar partida en la última fase</li>
</ul>

<p><a href="http://inufuto.web.fc2.com/8bit/cracky/#zx81" target="_blank">Enlace a la web del autor</a> donde puedes descargar el juego en formato P o wav para cargar en una máquina real.</p>

<p>Además tiene el juego para muchos otros sistemas.</p>

<p><a href="http://inufuto.web.fc2.com/8bit/zx81/cracky_p.zip" target="_blank">Enlace directo al juego</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
