<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Mad Jack</h1>
  <p class="post-meta">
    <time datetime="2023-09-20 00:00:00 +0200" class="post-meta"> 20 de Septiembre del 2023</time>
  </p>
</header>

<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Johns Bargs">Johns Bargs</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p style="text-align: center;"><img src="../assets/23/09/MadJack.png" alt="Mad Jack" /></p>

  <p>Este juego fue publicado en la revista Hebdogiciel (en el número 105) en 1985 y ahora Johns lo ha traducido al inglés.</p>

  <p style="text-align: center;"><img src="../assets/23/09/MadJack-code.jpg" alt="código" /></p>

  <p>Un juego de plataformas y rompecabezas, bastante difícil, de 10 niveles en el que debes robar una mansión.
  Tienes que coger todas las piezas de oro en cada pantalla para pasar a la siguiente. Evitando los disparos provenientes de la derecha de la pantalla.</p>

  <p>Si quedas bloqueado puedes reiniciar el nivel, pero pierdes una vida. Solo tienes 3 vidas.
  Si pierdes una vida tendrás que volver a recoger todo el oro de la pantalla.</p>

  <p>El juego está escrito en Basic, con rutinas en ensamblador, si pulsas espacio se para la ejecución del programa.</p>

  <p>Los controles son redefinibles, por defecto son:</p>
  <ul>
    <li>Q = arriba</li>
    <li>A = abajo</li>
    <li>O = izquierda</li>
    <li>P = derecha</li>
    <li>S = empezar juego</li>
    <li>Z = reiniciar nivel</li>
  </ul>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?f=4&amp;t=5181" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
