<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Calendario 2023</h1>
  <p class="post-meta">
    <time datetime="2023-01-01 00:00:00 +0100" class="post-meta"> 1 de Enero del 2023</time>
  </p>
</header>

<div class="post-content" itemprop="articleBody">
  <p><a href="./index.html?post=21-12-30-calendario">Como el año pasado</a>, he creado un calendario para poner en una caja de cassette con juegos del ZX81 que han salido en el 2022</p>

  <p style="text-align: center;"><img src="./assets/22/12/calendario2023.png" alt="Calendario 2023" /></p>

  <p>Hay dos versiones disponibles:</p>
  <ul>
    <li>Lunes a domingo en español</li>
    <li>Domingo a sábado en ingles</li>
  </ul>

  <p style="text-align: center;"><img src="./assets/22/12/calendario2023_fisico.png" alt="Calendario" /></p>

  <p><a href="./assets/22/2023_es.pdf" target="_blank">Lunes a domingo en español</a></p>

  <p><a href="./assets/22/2023_en.pdf" target="_blank">Domingo a sábado en ingles</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
    <a class="tags" href="#" data-href="calendario">calendario&nbsp;</a>    
  </span>
