<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Cambriolage</h1>
  <p class="post-meta">
    <time datetime="2023-07-30 00:00:00 +0200" class="post-meta"> 30 de Julio del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Auraes">Auraes</a></b></em>
</p>
  
<div class="post-content" itemprop="articleBody">
  <p style="text-align: center;"><img src="./assets/23/07/Cambriolage.png" alt="Cambriolage" /></p>

  <p>Un programa publicado por la revista Hebdogiiel en 1984</p>
  <p style="text-align: center;"><img src="./assets/23/07/Cambriolage_code.png" alt="código" /></p>

  <p>El juego se compone de tres fases que se van repitiendo mientras tengas vidas, empiezas con 6 vidas.</p>

  <p>La primera fase debes de abrir la puerta del banco para lo que debes adivinar un número entre 1 y 10, tienes 3 oportunidades si no lo aciertas pierdes una vida.
  Te va indicando si el número que buscas es mayor o menor.</p>

  <p>La siguiente fase es un laberinto donde tienes que encontrar la sala del cofre, pero también hay bombas que harán que pierdas una vida.
  Se controla con las teclas cursores (5, 6, 7 y 8).</p>

  <p>Una vez que llegas a la última fase debes adivinar el código para acceder, es un número del 1 al 3, pierdes una vida cada vez que fallas.
  Cuando adivines el código tienes que andar (con la tecla 8) hasta mitad de la sala y elegir que cofre quieres abrir.</p>

  <p><a href="https://www.youtube.com/watch?v=d4PbA6IpMy4" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/d4PbA6IpMy4/0.jpg'"> </a></p>

  <p>Se pueden descargar el juego desde <a href="https://auraes.itch.io/cambriolage" target="_blank">itchio</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
