<header class="post-header">
  <h1 class="post-title" itemprop="name headline">ZX81 Lunar Lander</h1>
  <p class="post-meta">
    <time datetime="2023-04-08 00:00:00 +0200" class="post-meta"> 8 de Abril del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Adrian Pilkington">Adrian Pilkington</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p style="text-align: center;"><img src="./assets/23/04/lunarLander.png" alt="ZX81 Lunar Lander" /></p>

  <p>Guía el módulo de excursión lunar hasta la zona de aterrizaje, que está marcada por cinco L inversas. 
  Para completar un aterrizaje exitoso, debe tener una velocidad de avance cero y una tasa de altitud de no más de 1. La parte derecha de la pantalla tiene una lectura de computadora de guía Apollo semi auténtica, que está configurada en PROG 66, VERB 6, NOUN 60 - estos son los mismos que en la misión Apolo real.</p>

  <p>Los tres números que se muestran son “Velocidad de avance”, “Tasa de altitud” y “Altitud”</p>

  <p><a href="https://www.youtube.com/watch?v=3kgk_sL7brw" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/3kgk_sL7brw/0.jpg'"> </a></p>

  <p>Los controles son:</p>
  <ul>
    <li>Z = propulsor derecho</li>
    <li>N = motor principal</li>
    <li>M = propulsor izquierdo</li>
  </ul>

  <p><a href="https://github.com/AdrianPilko/ZX81LunarLander" target="_blank">Código fuente del juego</a></p>

  <p>Se pueden descargar los juegos del <a href="https://github.com/AdrianPilko/ZX81LunarLander/blob/main/lander.p" target="_blank">repositorio de github</a>
  o en <a href="https://adrianpilko.itch.io/zx81-lunar-lander" target="_blank">itchio</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
