<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Qmeteors</h1>
  <p class="post-meta">
    <time datetime="2023-02-05 00:00:00 +0100" class="post-meta"> 5 de Febrero del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Paul Daniels">Paul Daniels</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p style="text-align: center;"><img src="./assets/23/02/Qmeteor.png" alt="Qmeteors" /></p>

  <p>Viaja a través de la tormenta de meteoritos, intentando llevar suministros a la colonia. Una vez que llegues, deberás regresar.</p>

  <p>Dentro de la tormenta, busque restos antiguos (*) que se pueden recolectar para obtener más puntos.</p>

  <p>También se pueden encontrar artefactos (B) dejados por una raza alienígena que se pueden usar para destruir todos los meteoros en el rango.</p>

  <p>Los controles son las siguientes teclas:</p>
  <ul>
    <li>Q - T = Izquierda</li>
    <li>Y - P = Derecha</li>
    <li>B - Space = Bomba</li>
  </ul>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=49715#p49715" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
