<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Ma-Kario Bros</h1>
  <p class="post-meta">
    <time datetime="2023-07-16 00:00:00 +0200" class="post-meta"> 16 de Julio del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dancresp">Dancresp</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p>La Game&amp;Watch de Nintendo “Mario Bros” para el ZX-81 en 1K</p>

  <p style="text-align: center;"><img src="./assets/23/07/MaKarioBros.png" alt="Ma-Kario Bros" /></p>

  <p>Tienes que ir cogiendo las cajas de las cintas transportadoras para subir a la siguiente cinta. 
  Solo tienes una vida. Si se cae una caja se acaba el juego y se muestra la puntuación.</p>

  <p>Cada caja que coges te da un punto.</p>

  <p>Los controles para mover son las siguientes teclas:</p>
  <ul>
    <li>Q = arriba</li>
    <li>A = abajo</li>
  </ul>

  <p>Si estas en la posición superior y pulsas Q pasas a la inferior directamente, al contrario no.</p>

  <p><a href="https://www.youtube.com/watch?v=xtH5ZPFt0Gw" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/xtH5ZPFt0Gw/0.jpg'"> </a></p>

  <p><a href="https://www.retrowiki.es/viewtopic.php?f=99&amp;t=200039490" target="_blank">Enlace al foro Retrowiki</a> para descarga el juego y más información sobre el juego y el código.</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
