<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Retro Snake Game Jam</h1>
  <p class="post-meta">
    <time datetime="2023-04-15 00:00:00 +0200" class="post-meta"> 15 de Abril del 2023</time>
  </p>
</header>

<div class="post-content" itemprop="articleBody">
  <p>Presentados 2 juegos para ZX81 en el concurso <a href="https://itch.io/jam/retro-snake-game-jam" target="_blank">Retro Snake Game Jam</a>.</p>

  <p style="text-align: center;"><img src="./assets/23/04/snakeJam.png" alt="Retro Snake Game Jam" /></p>

  <p>Un concurso en el que se tenía que crear un juego como Snake, pudiendo añadir cualquier tipo de innovación.
  Solo para ordenadores o consolas con algunas de las siguientes CPUs:</p>
  <ul>
    <li>Z80</li>
    <li>6502</li>
    <li>Motorola 68K+</li>
  </ul>

  <p>Se han presentado 2 juegos para el ZX81:</p>

  <ul>
    <li>
      <p><a href="https://adrianpilko.itch.io/zx81-snake-game" target="_blank">ZX81 snake game de AdrianPilko.</a> Un nuevo reboot del clásico juego de serpiente escrito en ensamblador.</p>
    </li>
    <li>
      <p><a href="https://salvacam.itch.io/snake" target="_blank">Snake de Salvador Camacho.</a> El clásico juego de serpientes escrito en C.</p>
    </li>
  </ul>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>    
    <a class="tags" href="#" data-href="concurso">concurso&nbsp;</a>
  </span>
