<header class="post-header">
  <h1 class="post-title" itemprop="name headline">BASIC 10Liner</h1>
  <p class="post-meta">
    <time datetime="2023-04-02 00:00:00 +0200" class="post-meta"> 2 de Abril del 2023</time>
  </p>
</header>

<div class="post-content" itemprop="articleBody">
  <p>Presentados 3 juegos para ZX81 en la 12ª edición del concurso <a href="https://www.homeputerium.de/" target="_blank">BASIC 10Liner</a>.</p>

  <p style="text-align: center;"><img src="./assets/23/04/10liners.png" alt="BASIC 10Liner" /></p>

  <p>Un concurso en el que se presentan programas en Basic de un máximo de 10 líneas, con cuatro categorías según la longitud de las líneas.</p>

  <p>Las categorías son:</p>
  <ul>
    <li>PUR-80: En el que cada línea puede tener un máximo 80 caracteres.</li>
    <li>PUR-120: En el que cada línea puede tener un máximo 120 caracteres.</li>
    <li>EXTREM-256: En el que cada línea puede tener un máximo 256 caracteres.</li>
    <li>SCHAU: En el que cada línea puede tener un máximo 256 caracteres. Esta categoría está destinada a demos, herramientas o aplicaciones.</li>
  </ul>

  <p>Se han presentado 3 juegos en esta edición para el ZX81</p>

  <ul>
    <li>
      <p><a href="https://bunsen.itch.io/squash-trainer-by-marcos-retrobits" target="_blank">Squash Trainer de Marco’s Retrobits.</a> Un Pong para 1 jugador.</p>
    </li>
    <li>
      <p><a href="https://bunsen.itch.io/zxword-by-matthew-begg" target="_blank">ZXWORD de Matthew Begg.</a> Un procesador de texto (se requiere una expansión de RAM de 16 KB). Los documentos se pueden guardar, cargar e imprimir.</p>
    </li>
    <li>
      <p><a href="https://bunsen.itch.io/pong81-by-salvador-camacho" target="_blank">Pong81 de Salvador Camacho.</a> Otro Pong (además de que lo he podido presentar gracias al juego de Marcos).</p>
    </li>
  </ul>

  <p>Los resultados ya se han dado a conocer, los podéis consultar también en la <a href="https://www.homeputerium.de/" target="_blank">web del concurso</a></p>
  <p style="text-align: center;"><img src="./assets/23/04/BASIC_10Liner_resultados.png" alt="Resultados" /></p>
</div>
  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2023">2023&nbsp;</a>    
  <a class="tags" href="#" data-href="concurso">concurso&nbsp;</a>
</span>
