<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Astro Bikers</h1>
  <p class="post-meta">
    <time datetime="2023-07-10 00:00:00 +0200" class="post-meta"> 10 de Julio del 2023</time>
  </p>
</header> 
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Jonathan Cauldwell">Jonathan Cauldwell</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p>Un juego de motos de luz de Tron.</p>

  <p style="text-align: center;"><img src="./assets/23/07/AstroBikers.png" alt="Astro Bikers" /></p>

  <p>Manejas una moto de luz en una cuadrícula de 64 x 64 celdas. 
  Al principio corres contra un solo oponente, pero terminas corriendo hasta con tres oponentes.
  Tiene scroll de pantalla en las cuatro direcciones.</p>

  <p>Tiene soporte para Chroma y joystick.</p>
  <p style="text-align: center;"><img src="./assets/23/07/AstroBikers_chroma.png" alt="chroma" /></p>

  <p>Los controles son definibles, por defecto los controles del teclado son</p>
  <ul>
    <li>2 = arriba</li>
    <li>W = abajo</li>
    <li>9 = izquierda</li>
    <li>0 = derecha</li>
  </ul>

  <p><a href="https://jonathan-cauldwell.itch.io/astro-bikers" target="_blank">Enlace a itchio</a></p>
</div>
s  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
