<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Wormhole</h1>
  <p class="post-meta">
    <time datetime="2023-02-04 00:00:00 +0100" class="post-meta"> 4 de Febrero del 2023</time>
  </p>
</header>

<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Kurt-Arne Johnsen">Kurt-Arne Johnsen</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Un nuevo juego compartido en el grupo de facebook <a href="https://www.facebook.com/1166498670/videos/580405407235495/" target="_blank">Keeping the Sinclair ZX80 and ZX81 Alive</a></p>

  <p style="text-align: center;"><img src="./assets/23/02/Wormhole.png" alt="Wormhole" /></p>

  <p>Un juego parecido al juego de la serpiente. Hay que recoger todos los dólares ‘$’, obtienes un 1 punto por cada uno que cojas, para terminar el nivel. Debes evitar tu propio rastro y todas las minas ‘*’. Si pasas por un agujero de gusano, los bloques negros, obtendrás 10 puntos, pero no sabes por cuál agujero de gusano saldrás.</p>

  <p>Los controles son las siguientes teclas:</p>
  <ul>
    <li>Q = arriba</li>
    <li>A = abajo</li>
    <li>O = izquierda</li>
    <li>P = derecha</li>
  </ul>

  <p>El juego está en github en formato p.</p>

  <p><a href="https://github.com/Retronissen/Sinclair-ZX81-Software-in-hounor-for-Sir-Clive" target="_blank">Repositorio de github</a>
  para su descarga.</p>

  <p><a href="https://github.com/Retronissen/Sinclair-ZX81-Software-in-hounor-for-Sir-Clive/raw/4fc706435358c840ef3c804dac790ca9f83f53bb/wormhole.p" target="_blank">Enlace directo</a> al archivo .p</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
