<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Arena</h1>
  <p class="post-meta">
    <time datetime="2023-09-16 00:00:00 +0200" class="post-meta"> 16 de Septiembre del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="GCHarder">GCHarder</a></b></em>
</p>
  
<div class="post-content" itemprop="articleBody">
  <p style="text-align: center;"><img src="./assets/23/09/Arena.png" alt="Arena" /></p>

  <p>GCHarder ha transcrito este juego publicado en la revista <a href="https://archive.org/details/SyncWareNews/SyncWare%20News%20v4n5/page/14/mode/2up" target="_blank">Syncware News</a>, de mayo de 1987, aunque en el código se muestra septiembre de 1984</p>

  <p style="text-align: center;"><img src="./assets/23/09/MisteryProgram.png" alt="código" /></p>

  <p>Estas en el centro de la pantalla tienes que defender los ataques que te vendrán de las 4 direcciones. Empiezas con 5 vidas cada 2000 puntos aumenta la velocidad del juego y consigues una vida extra. Puedes elegir la velocidad del juego al inicio, de la A a la Z, siendo A la velocidad más rápida y Z la más lenta.</p>

  <p>Los controles son redefinibles, por defecto son:</p>
  <ul>
    <li>Q = disparar arriba</li>
    <li>A = disparar abajo</li>
    <li>O = disparar izquierda</li>
    <li>P = disparar derecha</li>
  </ul>

  <p>Solo se puede disparar a la vez en una dirección, hay que dejar pulsada la tecla para que avance tu disparo.</p>

  <p>El juego está escrito en Basic, con rutinas en ensamblador, si pulsas espacio se para la ejecución del programa.</p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?f=4&amp;t=1312" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>

  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2023">2023&nbsp;</a>    
</span>

