<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Hopman</h1>
  <p class="post-meta">
    <time datetime="2023-08-16 00:00:00 +0200" class="post-meta"> 16 de Agosto del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Inufuto">Inufuto</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p>Un juego con scroll lateral.</p>

  <p style="text-align: center;"><img src="./assets/23/08/hopman.png" alt="Hopman" /></p>

  <p>Debes llegar al final de la fase, a la puerta que pone GOAL antes de que acabe el tiempo.</p>

  <p>Pierdes una vida si caes sobre los pinchos, tocas un enemigo o se acaba el tiempo.</p>

  <p>Al coger una bandera obtienes 100 puntos, si coges todas las banderas de la fase se obtiene un bonus de puntos al acabar la fase.</p>

  <p>Se puede volver hacia atrás. No se puede saltar sobre las plataformas o el suelo desde abajo.</p>

  <p>Podéis ver el juego en un vídeo que han subido el autor
  <a href="https://www.youtube.com/watch?v=0OvpZvATiaw" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/0OvpZvATiaw/0.jpg'"> </a></p>

  <p>Los controles son:</p>
  <ul>
    <li>O = izquierda</li>
    <li>P = derecha</li>
    <li>Espacio = salto y empezar partida en la fase 1</li>
    <li>Enter = empezar partida en la última fase</li>
  </ul>

  <p><a href="http://inufuto.web.fc2.com/8bit/hopman/#zx81" target="_blank">Enlace a la web del autor</a> donde puedes descargar el juego en formato P o wav para cargar en una máquina real.</p>

  <p>Además tiene el juego para muchos otros sistemas.</p>

  <p><a href="http://inufuto.web.fc2.com/8bit/zx81/hopman_p.zip" target="_blank">Enlace directo al juego</a></p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
