<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Amidoh!</h1>
  <p class="post-meta">
    <time datetime="2023-09-24 00:00:00 +0200" class="post-meta"> 24 de Septiembre del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Jonathan Cauldwell">Jonathan Cauldwell</a></b></em>
</p>
  
<div class="post-content" itemprop="articleBody">
  <p>Una versión de Amidar para nuestros ZX81.</p>

  <p style="text-align: center;"><img src="../assets/23/09/Amidoh.png" alt="Amidoh!" /></p>

  <p>Como en el arcade, tienes que pinta alrededor de las cajas para rellenarlas, evitando a los enemigos. Al inicio solo habrá 3 enemigos a medidas que vayas pasando de nivel aumentara la velocidad, el número (hasta 6) y la inteligencia de los enemigos.</p>

  <p>Tiene soporte para Chroma, gráficos en alta resolución y joystick.</p>
  <p style="text-align: center;"><img src="../assets/23/09/Amidoh_chroma.png" alt="chroma" /></p>

  <p>Los controles son definibles, por defecto los controles del teclado son</p>
  <ul>
    <li>2 = arriba</li>
    <li>W = abajo</li>
    <li>9 = izquierda</li>
    <li>0 = derecha</li>
  </ul>

  <p><a href="https://jonathan-cauldwell.itch.io/amidoh" target="_blank">Enlace a itchio</a></p>
</div>

Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
