<header class="post-header">
  <h1 class="post-title" itemprop="name headline">81 hires games for the 1K ZX81</h1>
  <p class="post-meta">
    <time datetime="2023-05-03 00:00:00 +0200" class="post-meta"> 3 de Mayo del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dr Beep">Dr Beep</a></b></em>
</p>  

<div class="post-content" itemprop="articleBody">
  <p>Un libro sobre los <a href="./index.html?post=21-12-18-allhires">81 juegos</a> de 1K de Dr Beep en alta resolución para ZX81.</p>

  <p style="text-align: center;"><img src="./assets/23/05/81HireGames.png" alt="81 hires games for the 1K ZX81" /></p>

  <p>Dos cosas que no he conseguido hacer con el ZX81 es hacer algún programa que ocupe 1K, incluso cuando he participado en los concursos de 10 líneas necesitaba 2K. Y la otra es hacer un juego usando gráficos en alta resolución</p>

  <p>Pues en este libro están las dos cosas, el autor comenta los 81 juegos que realizo, primero tiene el libro una breve introducción, luego se explican cada juego uno por uno y al final tiene otra página con una despedida y agradecimiento.</p>

  <p>En cada juego hay 7 secciones, la idea del juego, innovación técnica, problemas, cosas divertidas, objetivo del juego, controles y fecha de lanzamiento.</p>

  <p>Puedes ver un ejemplo en <a href="https://www.mediafire.com/file/omajawpxhhvkepj/Hires+1k+BLOCKY.pdf/file" target="_blank">este pdf</a> que ha subido el autor con un juego del libro</p>

  <p>Disponible en <a href="https://www.amazon.es/dp/B0C2RW1TH1/" target="_blank">amazon</a> por 9,35 € (en España, en otros paises puede variar el precio)</p>
</div>
  
Etiquetas: 
<span>
    <a class="tags" href="#" data-href="2023">2023&nbsp;</a>        
    <a class="tags" href="#" data-href="libro">libro&nbsp;</a>
</span>
