<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Spin the Skulls</h1>
  <p class="post-meta">
    <time datetime="2023-11-11 00:00:00 +0100" class="post-meta"> 11 de Noviembre del 2023</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="GCHarder">GCHarder</a></b></em>
</p>
  

<div class="post-content" itemprop="articleBody">
  <p>Un juego para halloween.</p>

  <p style="text-align: center;"><img src="./assets/23/11/spinTheSkulls.png" alt="Spin the Skulls" /></p>

  <p>Solo tienes que elegir la posición final de las calaveras, aunque puedes elegir al iniciar que autogire y solo tienes que ver el resultado.</p>

  <p>El juego está escrito en Basic, con rutinas en ensamblador, si pulsas espacio se para la ejecución del programa.</p>

  <p>El autor a subido un video del juego para que se vea en movimiento
  <a href="https://www.youtube.com/watch?v=cF_bwJSmYxQ" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/cF_bwJSmYxQ/0.jpg'"> </a></p>

  <p><a href="https://www.sinclairzxworld.com/viewtopic.php?f=4&amp;t=5253" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>

</div>

  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2023">2023&nbsp;</a>    
</span>
