<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Fun Park ZX81</h1>
  <p class="post-meta">
    <time datetime="2023-12-01 00:00:00 +0100" class="post-meta"> 1 de Diciembre del 2023</time>
  </p>
</header>

<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Jonathan Cauldwell">Jonathan Cauldwell</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p>Una versión de Amusement Park 4000 para nuestros ZX81.</p>

  <p style="text-align: center;"><img src="./assets/23/12/funParkZX81.png" alt="Fun Park ZX81" /></p>

  <p>20 años después del juego para ZX Spectrum, el autor crea esta versión para ZX81.
  Hay más atracciones que Amusement Park 4000, y la inteligencia artificial y la estrategia son más sofisticadas que la versión 16K Spectrum de Fun Park.</p>

  <p>Tiene soporte para Chroma, gráficos en alta resolución y joystick.</p>

  <p><a href="https://jonathan-cauldwell.itch.io/fun-park-zx81" target="_blank">Enlace a itchio</a></p>

</div>
  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
