<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Invader</h1>
  <p class="post-meta">
    <time datetime="2023-12-02 00:00:00 +0100" class="post-meta"> 2 de Diciembre del 2023</time>
  </p>
</header>

<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Brian Kumanchik">Brian Kumanchik</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p>Primer juego del autor para ZX81</p>

  <p style="text-align: center;"><img src="./assets/23/12/invader.png" alt="Invader" /></p>

  <p>Es una demostración de un juego tipo Invader en ensamblador Z80.</p>

  <p>La detección de colisiones es buena en el invasor, pero la torreta debe ser golpeada justo en el centro para registrarse y perder una vida.</p>

  <p>Los controles son:</p>
  <ul>
    <li>A = mover izquierda</li>
    <li>D = mover derecha</li>
    <li>L = disparar abajo</li>
  </ul>

  <p><a href="https://www.sinclairzxworld.com/viewtopic.php?p=52946#p52946" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
