<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Solitaire</h1>
  <p class="post-meta">
    <time datetime="2024-03-24 00:00:00 +0100" class="post-meta"> 24 de Marzo del 2024</time>
  </p>
</header>

<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dr Beep">Dr Beep</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p>El clásico juego de cartas.</p>

  <p style="text-align: center;"><img src="./assets/24/03/solitaire.png" alt="Solitaire" /></p>

  <p>Al cargar el se un línea con los controles, se confirma con la tecla Y, los redefines con cualquier otra tecla.
    Después de presionar “Y”, empiezas a jugar</p>

  <p>Podéis ver el juego en un vídeo de Villordsutch
  <a href="https://www.youtube.com/watch?v=V_nOiW41m0U" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/V_nOiW41m0U/0.jpg'"> </a></p>

  <p><a href="https://www.sinclairzxworld.com/viewtopic.php?p=54931#p54931" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego y el código.</p>
</div>
  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2023">2023&nbsp;</a>
</span>
