<header class="post-header">
  <h1 class="post-title" itemprop="name headline">HRLBS</h1>
  <p class="post-meta">
    <time datetime="2024-03-17 00:00:00 +0100" class="post-meta"> 17 de Marzo del 2024</time>
  </p>
</header>

<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Dr Beep">Dr Beep</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p>El juego está programado para Highretrogamerd.</p>

  <p style="text-align: center;"><img src="./assets/24/03/HRLBS.png" alt="HRLBS" /></p>

  <p>Eres un desactivador de bombas y tienes que desactivar las bombas antes de que exploten, el tamaño de la explosión se muestra al lado del nombre del juego (puede ser de 3 a 9).</p>

  <p>Una vez que la desactives, se suma a tus puntos el tiempo restante multiplicado por el tamaño de la explosión.</p>

  <p>Empiezas con 3 vidas. Pierdes una vida cuando te alcanza una explosión o cada vez que 10 civiles (los puntos) mueren.</p>

  <p>Los controles son:</p>
  <ul>
    <li>Q = arriba</li>
    <li>A = abajo</li>
    <li>O = derecha</li>
    <li>P = izquierda</li>
    <li>Nueva línea = iniciar partida</li>
  </ul>

  <p>Podéis ver el resultado en un vídeo que han subido el destinatario del juego
  <a href="https://www.youtube.com/watch?v=qpGr1VuyptU" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/qpGr1VuyptU/0.jpg'"> </a></p>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=54748#p54748" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego y el código.</p>
</div>

Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
</span>
