<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Le Retour du dr. Genius y Le Mysthère de KiKeKanKoi</h1>
  <p class="post-meta">
    <time datetime="2024-02-27 00:00:00 +0000" class="post-meta"> 27 de Febrero del 2024</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="XavSnap">XavSnap</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p style="text-align: center;"><img src="./assets/24/02/RetourGenius.png" alt="Le Retour du dr. Genius y Le Mysthère de KiKeKanKoi"></p>

	<p><a href="http://zx81.ordi5.free.fr/xavsnap/" target="_blank">XavSnap</a> ha modificado dos aventuras conversacioneles <strong>(en francés)</strong> añadiendo ASM para que sean más rápidos y corrigiendo algunos aspectos gráficos.</p>

	<p>Enlaces al foro Sinclair ZX World para descarga el juego.</p>

	<p><a href="https://sinclairzxworld.com/viewtopic.php?f=4&amp;t=5405" target="_blank">Le Retour du dr. Genius</a></p>

	<p><a href="https://sinclairzxworld.com/viewtopic.php?f=4&amp;t=5404" target="_blank">Le Mysthère de KiKeKanKoi</a></p>

</div>
  
Etiquetas: 
<span>        
  <a class="tags" href="#" data-href="2024">2024&nbsp;</a>    
</span>
