<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Aquarium</h1>
  <p class="post-meta">
    <time datetime="2024-02-14 00:00:00 +0100" class="post-meta"> 14 de Febrero del 2024</time>
  </p>
</header>

<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Steven Reid">Steven Reid</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p>Una demo de un acuario para ZX81.</p>

  <p style="text-align: center;"><img src="./assets/24/02/Aquarium.png" alt="Aquarium" /></p>

  <p>Podéis ver el resultado en un vídeo que han subido el autor
  <a href="https://www.youtube.com/watch?v=Mj_cOD53Bv4" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/Mj_cOD53Bv4/0.jpg'"> </a></p>

  <p>En <a href="https://www.youtube.com/@SafePit/videos" target="_blank">su canal</a> tiene otras animaciones para el ZX81</p>

  <p>En el <a href="https://www.reids4fun.com/559/how-i-made-a-kimmie-fish-swim-on-the-zx81" target="_blank">blog del autor</a> se puede leer una explicación de como está realizada</p>

  <p>Se pueden descargar el archivo .p y el código <a href="https://www.reids4fun.com/programs/kimmie.zip" target="_blank">desde aquí</a></p>

  <p>También puedes consultar el código fuente <a href="https://www.reids4fun.com/zl/kimmie" target="_blank">desde aquí</a></p>
</div>

Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
  <a class="tags" href="#" data-href="demo">demo&nbsp;</a>    
</span>
