<header class="post-header">
  <h1 class="post-title" itemprop="name headline">3D Forest Race</h1>
  <p class="post-meta">
    <time datetime="2024-02-11 00:00:00 +0100" class="post-meta"> 11 de Febrero del 2024</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Briansm">Briansm</a></b></em>
</p>
  

<div class="post-content" itemprop="articleBody">
  <p style="text-align: center;"><img src="./assets/24/02/3DForestRace.png" alt="3D Forest Race" /></p>

  <p>Una versión simplificada de ‘3D Death Chase’ para el ZX81.</p>

  <p>Al cargar el juego puedes seleccionar el nivel de dificultad entre 3 niveles.</p>

  <p>Solo tienes que esquivar los árboles moviéndote a la derecha o la izquierda, se mueve hacia delante solo y no hay que disparar a ninguna moto.</p>

  <p>Podéis ver el juego en un vídeo
  <a href="https://www.youtube.com/watch?v=1-Z_qSAACuo" class="video" target="_blank" style="background-image:url(./assets/play.png), url('https://img.youtube.com/vi/1-Z_qSAACuo/0.jpg'"> </a></p>

  <p>Los controles son:</p>
  <ul>
    <li>5 = izquierda</li>
    <li>8 = derecha</li>
  </ul>

  <p><a href="https://sinclairzxworld.com/viewtopic.php?p=54243#p54243" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>

</div>
  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
</span>
