<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Black Hole</h1>
  <p class="post-meta">
    <time datetime="2024-02-12 00:00:00 +0100" class="post-meta"> 12 de Febrero del 2024</time>
  </p>
</header>

<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="GCHarder">GCHarder</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p style="text-align: center;"><img src="./assets/24/02/BlackHole.png" alt="Black Hole" /></p>

  <p>Otro juego modificado, para un mayor tamaño del tablero y una mejor presentación.</p>

  <p>Un juego de estrategia, el objetivo del juego es conseguir la mayor puntuación posible. 
  Te desplazas hacia la dirección que pulses hasta que llegues hasta elemento o sales del tablero o llegas al agujero negro, con lo que terminas la partida.</p>

  <p>Los controles son:</p>
  <ul>
    <li>Q = arriba</li>
    <li>A = abajo</li>
    <li>O = izquierda</li>
    <li>P = derecha</li>
  </ul>

  <p><a href="https://www.sinclairzxworld.com/viewtopic.php?f=4&amp;t=5384" target="_blank">Enlace al foro Sinclair ZX World</a> para descarga el juego.</p>
</div>
  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
</span>
  


