<header class="post-header">
  <h1 class="post-title" itemprop="name headline">ZXzine 10</h1>
  <p class="post-meta">
    <time datetime="2024-01-11 00:00:00 +0100" class="post-meta"> 11 de Enero del 2024</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Tim Swenson">Tim Swenson</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p>El número 10 de ZXzine ya está disponible. <a href="http://swensont.epizy.com/ZXzine10.pdf" target="_blank">Enlace al pdf</a></p>

  <p style="text-align: center;"><img src="./assets/24/01/ZXzine10.png" alt="ZXzine 10" /></p>

  <p><a href="http://swensont.epizy.com/ZXzine10.zip" target="_blank">Enlace al archivo zip asociado</a></p>

</div>

Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2024">2024&nbsp;</a>
  <a class="tags" href="#" data-href="revista">revista&nbsp;</a>
</span>
