<header class="post-header">
  <h1 class="post-title" itemprop="name headline">Swurlpool</h1>
  <p class="post-meta">
    <time datetime="2024-02-13 00:00:00 +0100" class="post-meta"> 13 de Febrero del 2024</time>
  </p>
</header>
  
<p class="post-cat">
  Autor: <em><b><a class="autors" href="#" data-href="Jonathan Cauldwell">Jonathan Cauldwell</a></b></em>
</p>

<div class="post-content" itemprop="articleBody">
  <p>Una curiosa mezcla de Frogger y Pac-Man.</p>

  <p style="text-align: center;"><img src="./assets/24/02/Swurlpool.png" alt="Swurlpool" /></p>

  <p>Como en Frogger tienes que saltar por los troncos, si caes al agua pierdes una vida. Debes de saltar encima de los insectos que están en los troncos.
  Tiene un contador de tiempo para hacerlo un poco más estresante</p>

  <p>Ocasionalmente aparecen pájaros que te comerán, pero puedes capturar libélulas y luego soltarlas para distraer a los pájaros.</p>

  <p>Tiene soporte para Chroma y joystick.</p>
  <p style="text-align: center;"><img src="./assets/24/02/Swurlpool_chroma.png" alt="chroma" /></p>

  <p>Los controles son definibles, por defecto los controles del teclado son</p>
  <ul>
    <li>2 = arriba</li>
    <li>W = abajo</li>
    <li>9 = izquierda</li>
    <li>0 = derecha</li>
    <li>m = disparo</li>
    <li>h = pausa</li>
  </ul>

  <p>El juego puede ser comprado en la <a href="https://cronosoft.fwscart.com/" target="_blank">web de Cronosoft</a> en <a href="https://cronosoft.fwscart.com/product/swurlpool-16k-zx81-cassette" target="_blank">formato físico</a> por 7’95 libras (más gastos de envío) o en <a href="https://cronosoft.fwscart.com/ZX81_DIGITAL_VERSION_for_emulator/p5357732_21597228.aspx" target="_blank">formato digital</a>  por 1,99 libras.</p>
</div>
  
Etiquetas: 
<span>
  <a class="tags" href="#" data-href="2024">2024&nbsp;</a>    
</span>
