<h1 id="sobre-el-blog">Sobre el blog</h1>

<h2 id="blog-sobre-nuevos-desarrollos-para-del-ordenador-sincliar-zx81">Blog sobre nuevos desarrollos para del ordenador Sincliar ZX81.</h2>

<p>Comencé este blog en octubre del 2021 debido a que es bastante lioso el estar al día de las novedades que iban saliendo para el ZX81.</p>

<p>La mayoría de los novedades suelen publicarse en el foro <a href="https://www.sinclairzxworld.com/index.php" target="_blank">Sinclair ZX World</a> pero otras muchas los autores lo publicaban en redes sociales o plataformas de distribución.</p>

<p>Decidi tener todo centralizado y que estuviera disponible para cualquier interesado.</p>

<p>El blog usaba al inicio el generador de sitios web estáticos <a href="https://jekyllrb.com/" target="_blank">Jekyll</a>, pero luego use <a href="https://gitlab.com/salvacam/blog" target="_blank">mi propio sistema de blog</a>. Se despliega en <a href="https://gitlab.com/pages" target="_blank">GitLab Pages.</a></p>

<p>Todo el código del blog tiene licencia de código abierto, esta disponible en <a href="https://gitlab.com/zx81hoy/zx81hoy.gitlab.io" target="_blank">GitLab</a></p>

<p>Esta web no tiene cookie ni recopila datos.</p>

<p>Si quieres ponerte en contacto conmigo puedes mandarme un correo al email que hay en el pie, recuerda modificar el enlace.</p>

<p>Tengo otra web, que te puede interesar, con <a href="https://salvacam.gitlab.io" target="_blank">mis juegos para ZX Spectrum y ZX81</a></p>